@import '../../style/variable.css';
@import '../../style/general.less';

.k-view {
  display: flex;
  width: 100%;
  height: 100%;
  .k-view-nav {
    width: 15rem;
    transition: all 0.125s ease-in-out;
    &.is-collapse {
      transition: all 0.125s ease-in-out;
      width: 2rem;
    }

    .showViewBtn {
      --size: 1.5rem;
      --padding: 0.5rem;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.5rem;
      background-color: #fff;
      border: 1px solid var(--k-gray-200);
      cursor: pointer;

      right: calc((var(--padding) + var(--size)) / 2 * -1 + var(--size) / 8);
      top: 2.125rem;

      .ksw-icon {
        transition: all 0.125s ease-in-out;
        &.is-collapse {
          transition: all 0.125s ease-in-out;
          transform: rotate(180deg);
        }
      }

      &:hover {
        color: var(--k-theme-primary);
        border-color: var(--k-theme-primary);
        box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.08);
      }
    }
  }
  .k-view-aside {
    padding: 10px;
    min-width: 200px;
    position: relative;
    transition: all 0.125s ease-in-out;
  }
  .k-view__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 1px var(--k-gray-200) solid;
    .view-fresh {
      &:hover {
        color: var(--k-theme-primary);
        cursor: pointer;
      }
    }
  }
  .k-view__special-data,
  .k-view__custom-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
  }
  .k-view__special-data {
    padding: 0.5rem 0;
    .k-view-item-remove {
      display: none;
    }
  }
  .k-view__custom-data {
    border-top: 1px #eae8eb solid;
    .custom-table-box {
      color: #6b7280;
      padding-top: 0.75rem;
      padding-bottom: 0.5rem;
      .text-sm();
    }
  }
}
.k-view-item {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: var(--k-theme-button-size-rounded--sm);
  &:hover:not(.k-view-active, .k-view-disabled) {
    background-color: var(--k-theme-primary-50);
    cursor: pointer;
  }
  .k-view-item__other {
    color: #736f78;
    display: flex;
    align-items: center;
    .k-view-item-remove {
      width: 100%;
      height: 100%;
      margin-left: 10px;
      svg {
        vertical-align: middle;
      }
      &:hover {
        color: var(--k-theme-primary);
        cursor: pointer;
      }
    }
  }
  &.k-view-active {
    background-color: var(--k-blue-100);
  }
  &.k-view-disabled {
    cursor: no-drop;
    filter: opacity(60%);
    &:hover {
      background-color: transparent;
    }
    .k-view-item__label,
    .k-view-item__other {
      color: var(--k-gray-300) !important;
    }
  }
}
