@import '../../style/variable.css';
@import '../../style/general.less';

.k-input {
  // 所有样式设置为unset
  .init-style();

  --bg-color: #fff;
  --height: 2rem;
  --border-radius: var(--k-rounded-base);
  --border-color--normal: var(--k-gray-200);
  --border-color--hover: var(--k-blue-400);
  --border-color--checked: var(--k-blue-500);
  --border-radius: var(--k-rounded-base);

  .el-input__wrapper {
    .init-style();
    height: var(--height);
    padding: 0.25rem 0.625rem;
    border-radius: var(--border-radius);
    border: var(--border-color--normal) 1px solid;

    .el-input__inner {
      .init-style();
      .text-base();
      color: var(--k-normal);
      caret-color: var(--border-color--checked);
    }
    .el-input__inner::placeholder {
      color: var(--k-gray-300);
    }
  }

  .el-input__wrapper:hover {
    .init-style();
    height: var(--height);
    padding: 0.25rem 0.625rem;
    border-radius: var(--border-radius);
    border: var(--border-color--hover) 1px solid;
  }
  .el-input__wrapper.is-focus {
    .init-style();
    height: var(--height);
    padding: 0.25rem 0.625rem;
    border-radius: var(--border-radius);
    border: var(--border-color--checked) 1px solid;
    box-shadow: 0 0 0 4px rgba(40, 130, 255, 0.2);
  }

  &.el-input.is-disabled {
    .el-input__wrapper {
      // 禁用状态下
      cursor: not-allowed;
      border: var(--border-color--normal) 1px solid;
      background: var(--k-gray-50);
      box-shadow: unset;
    }
  }
  .el-input-group__prepend + .el-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  //  .el-input__wrapper  后面有 .el-input-group__append  则为组合型输入框
  .el-input__wrapper:has(+ .el-input-group__append) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
  }
}
