.k-input-number {
  .el-input-number__increase,
  .el-input-number__decrease {
    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: auto;
    }
  }
}