.k-button {
  --k-button-font-weight: var(--k-font-weight-primary);
  --k-button-border-color: var(--k-border-color);
  --k-button-bg-color: var(--k-fill-color-blank);
  --k-button-text-color: var(--k-text-color-regular);
  --k-button-disabled-text-color: var(--k-disabled-text-color);
  --k-button-disabled-bg-color: var(--k-fill-color-blank);
  --k-button-disabled-border-color: var(--k-border-color-light);
  --k-button-divide-border-color: rgba(255, 255, 255, 0.5);
  --k-button-hover-text-color: var(--k-color-primary);
  --k-button-hover-bg-color: var(--k-color-primary-light-9);
  --k-button-hover-border-color: var(--k-color-primary-light-7);
  --k-button-active-text-color: var(--k-button-hover-text-color);
  --k-button-active-border-color: var(--k-color-primary);
  --k-button-active-bg-color: var(--k-button-hover-bg-color);
  --k-button-outline-color: var(--k-color-primary-light-5);
  --k-button-hover-link-text-color: var(--k-text-color-secondary);
  --k-button-active-color: var(--k-text-color-primary);
  align-items: center;
  -webkit-appearance: none;
  background-color: var(--k-button-bg-color);
  border: var(--k-border);
  border-color: var(--k-button-border-color);
  box-sizing: border-box;
  color: var(--k-button-text-color);
  cursor: pointer;
  display: inline-flex;
  font-weight: var(--k-button-font-weight);
  height: 32px;
  justify-content: center;
  line-height: 1;
  outline: none;
  text-align: center;
  transition: 0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.k-button:hover {
  background-color: var(--k-button-hover-bg-color);
  border-color: var(--k-button-hover-border-color);
  color: var(--k-button-hover-text-color);
  outline: none;
}
.k-button:active {
  background-color: var(--k-button-active-bg-color);
  border-color: var(--k-button-active-border-color);
  color: var(--k-button-active-text-color);
  outline: none;
}
.k-button:focus-visible {
  outline: 2px solid var(--k-button-outline-color);
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}
.k-button > span {
  align-items: center;
  display: inline-flex;
}
.k-button + .k-button {
  margin-left: 12px;
}
.k-button {
  border-radius: var(--k-border-radius-base);
  font-size: var(--k-font-size-base);
}
.k-button,
.k-button.is-round {
  padding: 8px 15px;
}
.k-button::-moz-focus-inner {
  border: 0;
}
.k-button [class*='k-icon'] + span {
  margin-left: 6px;
}
.k-button [class*='k-icon'] svg {
  vertical-align: bottom;
}
.k-button.is-plain {
  --k-button-hover-text-color: var(--k-color-primary);
  --k-button-hover-bg-color: var(--k-fill-color-blank);
  --k-button-hover-border-color: var(--k-color-primary);
}
.k-button.is-active {
  background-color: var(--k-button-active-bg-color);
  border-color: var(--k-button-active-border-color);
  color: var(--k-button-active-text-color);
  outline: none;
}
.k-button.is-disabled,
.k-button.is-disabled:hover {
  background-color: var(--k-button-disabled-bg-color);
  background-image: none;
  border-color: var(--k-button-disabled-border-color);
  color: var(--k-button-disabled-text-color);
  cursor: not-allowed;
}
.k-button.is-loading {
  pointer-events: none;
  position: relative;
}
.k-button.is-loading:before {
  background-color: var(--k-mask-color-extra-light);
  border-radius: inherit;
  bottom: -1px;
  content: '';
  left: -1px;
  pointer-events: none;
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: 1;
}
.k-button.is-round {
  border-radius: var(--k-border-radius-round);
}
.k-button.is-circle {
  border-radius: 50%;
  padding: 8px;
  width: 32px;
}
.k-button.is-text {
  background-color: transparent;
  border: 0 solid transparent;
  color: var(--k-button-text-color);
}
.k-button.is-text.is-disabled {
  background-color: transparent !important;
  color: var(--k-button-disabled-text-color);
}
.k-button.is-text:not(.is-disabled):hover {
  background-color: var(--k-fill-color-light);
}
.k-button.is-text:not(.is-disabled):focus-visible {
  outline: 2px solid var(--k-button-outline-color);
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}
.k-button.is-text:not(.is-disabled):active {
  background-color: var(--k-fill-color);
}
.k-button.is-text:not(.is-disabled).is-has-bg {
  background-color: var(--k-fill-color-light);
}
.k-button.is-text:not(.is-disabled).is-has-bg:hover {
  background-color: var(--k-fill-color);
}
.k-button.is-text:not(.is-disabled).is-has-bg:active {
  background-color: var(--k-fill-color-dark);
}
.k-button__text--expand {
  letter-spacing: 0.3em;
  margin-right: -0.3em;
}
.k-button.is-link {
  background: transparent;
  border-color: transparent;
  color: var(--k-button-text-color);
  height: auto;
  padding: 2px;
}
.k-button.is-link:hover {
  color: var(--k-button-hover-link-text-color);
}
.k-button.is-link.is-disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--k-button-disabled-text-color);
}
.k-button.is-link:not(.is-disabled):active,
.k-button.is-link:not(.is-disabled):hover {
  background-color: transparent;
  border-color: transparent;
}
.k-button.is-link:not(.is-disabled):active {
  color: var(--k-button-active-color);
}
.k-button--text {
  background: transparent;
  border-color: transparent;
  color: var(--k-color-primary);
  padding-left: 0;
  padding-right: 0;
}
.k-button--text.is-disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--k-button-disabled-text-color);
}
.k-button--text:not(.is-disabled):hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--k-color-primary-light-3);
}
.k-button--text:not(.is-disabled):active {
  background-color: transparent;
  border-color: transparent;
  color: var(--k-color-primary-dark-2);
}
.k-button__link--expand {
  letter-spacing: 0.3em;
  margin-right: -0.3em;
}
.k-button--primary {
  --k-button-text-color: var(--k-color-white);
  --k-button-bg-color: var(--k-color-primary);
  --k-button-border-color: var(--k-color-primary);
  --k-button-outline-color: var(--k-color-primary-light-5);
  --k-button-active-color: var(--k-color-primary-dark-2);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-link-text-color: var(--k-color-primary-light-5);
  --k-button-hover-bg-color: var(--k-color-primary-light-3);
  --k-button-hover-border-color: var(--k-color-primary-light-3);
  --k-button-active-bg-color: var(--k-color-primary-dark-2);
  --k-button-active-border-color: var(--k-color-primary-dark-2);
  --k-button-disabled-text-color: var(--k-color-white);
  --k-button-disabled-bg-color: var(--k-color-primary-light-5);
  --k-button-disabled-border-color: var(--k-color-primary-light-5);
}
.k-button--primary.is-link,
.k-button--primary.is-plain,
.k-button--primary.is-text {
  --k-button-text-color: var(--k-color-primary);
  --k-button-bg-color: var(--k-color-primary-light-9);
  --k-button-border-color: var(--k-color-primary-light-5);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-bg-color: var(--k-color-primary);
  --k-button-hover-border-color: var(--k-color-primary);
  --k-button-active-text-color: var(--k-color-white);
}
.k-button--primary.is-link.is-disabled,
.k-button--primary.is-link.is-disabled:active,
.k-button--primary.is-link.is-disabled:focus,
.k-button--primary.is-link.is-disabled:hover,
.k-button--primary.is-plain.is-disabled,
.k-button--primary.is-plain.is-disabled:active,
.k-button--primary.is-plain.is-disabled:focus,
.k-button--primary.is-plain.is-disabled:hover,
.k-button--primary.is-text.is-disabled,
.k-button--primary.is-text.is-disabled:active,
.k-button--primary.is-text.is-disabled:focus,
.k-button--primary.is-text.is-disabled:hover {
  background-color: var(--k-color-primary-light-9);
  border-color: var(--k-color-primary-light-8);
  color: var(--k-color-primary-light-5);
}
.k-button--success {
  --k-button-text-color: var(--k-color-white);
  --k-button-bg-color: var(--k-color-success);
  --k-button-border-color: var(--k-color-success);
  --k-button-outline-color: var(--k-color-success-light-5);
  --k-button-active-color: var(--k-color-success-dark-2);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-link-text-color: var(--k-color-success-light-5);
  --k-button-hover-bg-color: var(--k-color-success-light-3);
  --k-button-hover-border-color: var(--k-color-success-light-3);
  --k-button-active-bg-color: var(--k-color-success-dark-2);
  --k-button-active-border-color: var(--k-color-success-dark-2);
  --k-button-disabled-text-color: var(--k-color-white);
  --k-button-disabled-bg-color: var(--k-color-success-light-5);
  --k-button-disabled-border-color: var(--k-color-success-light-5);
}
.k-button--success.is-link,
.k-button--success.is-plain,
.k-button--success.is-text {
  --k-button-text-color: var(--k-color-success);
  --k-button-bg-color: var(--k-color-success-light-9);
  --k-button-border-color: var(--k-color-success-light-5);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-bg-color: var(--k-color-success);
  --k-button-hover-border-color: var(--k-color-success);
  --k-button-active-text-color: var(--k-color-white);
}
.k-button--success.is-link.is-disabled,
.k-button--success.is-link.is-disabled:active,
.k-button--success.is-link.is-disabled:focus,
.k-button--success.is-link.is-disabled:hover,
.k-button--success.is-plain.is-disabled,
.k-button--success.is-plain.is-disabled:active,
.k-button--success.is-plain.is-disabled:focus,
.k-button--success.is-plain.is-disabled:hover,
.k-button--success.is-text.is-disabled,
.k-button--success.is-text.is-disabled:active,
.k-button--success.is-text.is-disabled:focus,
.k-button--success.is-text.is-disabled:hover {
  background-color: var(--k-color-success-light-9);
  border-color: var(--k-color-success-light-8);
  color: var(--k-color-success-light-5);
}
.k-button--warning {
  --k-button-text-color: var(--k-color-white);
  --k-button-bg-color: var(--k-color-warning);
  --k-button-border-color: var(--k-color-warning);
  --k-button-outline-color: var(--k-color-warning-light-5);
  --k-button-active-color: var(--k-color-warning-dark-2);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-link-text-color: var(--k-color-warning-light-5);
  --k-button-hover-bg-color: var(--k-color-warning-light-3);
  --k-button-hover-border-color: var(--k-color-warning-light-3);
  --k-button-active-bg-color: var(--k-color-warning-dark-2);
  --k-button-active-border-color: var(--k-color-warning-dark-2);
  --k-button-disabled-text-color: var(--k-color-white);
  --k-button-disabled-bg-color: var(--k-color-warning-light-5);
  --k-button-disabled-border-color: var(--k-color-warning-light-5);
}
.k-button--warning.is-link,
.k-button--warning.is-plain,
.k-button--warning.is-text {
  --k-button-text-color: var(--k-color-warning);
  --k-button-bg-color: var(--k-color-warning-light-9);
  --k-button-border-color: var(--k-color-warning-light-5);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-bg-color: var(--k-color-warning);
  --k-button-hover-border-color: var(--k-color-warning);
  --k-button-active-text-color: var(--k-color-white);
}
.k-button--warning.is-link.is-disabled,
.k-button--warning.is-link.is-disabled:active,
.k-button--warning.is-link.is-disabled:focus,
.k-button--warning.is-link.is-disabled:hover,
.k-button--warning.is-plain.is-disabled,
.k-button--warning.is-plain.is-disabled:active,
.k-button--warning.is-plain.is-disabled:focus,
.k-button--warning.is-plain.is-disabled:hover,
.k-button--warning.is-text.is-disabled,
.k-button--warning.is-text.is-disabled:active,
.k-button--warning.is-text.is-disabled:focus,
.k-button--warning.is-text.is-disabled:hover {
  background-color: var(--k-color-warning-light-9);
  border-color: var(--k-color-warning-light-8);
  color: var(--k-color-warning-light-5);
}
.k-button--danger {
  --k-button-text-color: var(--k-color-white);
  --k-button-bg-color: var(--k-color-danger);
  --k-button-border-color: var(--k-color-danger);
  --k-button-outline-color: var(--k-color-danger-light-5);
  --k-button-active-color: var(--k-color-danger-dark-2);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-link-text-color: var(--k-color-danger-light-5);
  --k-button-hover-bg-color: var(--k-color-danger-light-3);
  --k-button-hover-border-color: var(--k-color-danger-light-3);
  --k-button-active-bg-color: var(--k-color-danger-dark-2);
  --k-button-active-border-color: var(--k-color-danger-dark-2);
  --k-button-disabled-text-color: var(--k-color-white);
  --k-button-disabled-bg-color: var(--k-color-danger-light-5);
  --k-button-disabled-border-color: var(--k-color-danger-light-5);
}
.k-button--danger.is-link,
.k-button--danger.is-plain,
.k-button--danger.is-text {
  --k-button-text-color: var(--k-color-danger);
  --k-button-bg-color: var(--k-color-danger-light-9);
  --k-button-border-color: var(--k-color-danger-light-5);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-bg-color: var(--k-color-danger);
  --k-button-hover-border-color: var(--k-color-danger);
  --k-button-active-text-color: var(--k-color-white);
}
.k-button--danger.is-link.is-disabled,
.k-button--danger.is-link.is-disabled:active,
.k-button--danger.is-link.is-disabled:focus,
.k-button--danger.is-link.is-disabled:hover,
.k-button--danger.is-plain.is-disabled,
.k-button--danger.is-plain.is-disabled:active,
.k-button--danger.is-plain.is-disabled:focus,
.k-button--danger.is-plain.is-disabled:hover,
.k-button--danger.is-text.is-disabled,
.k-button--danger.is-text.is-disabled:active,
.k-button--danger.is-text.is-disabled:focus,
.k-button--danger.is-text.is-disabled:hover {
  background-color: var(--k-color-danger-light-9);
  border-color: var(--k-color-danger-light-8);
  color: var(--k-color-danger-light-5);
}
.k-button--info {
  --k-button-text-color: var(--k-color-white);
  --k-button-bg-color: var(--k-color-info);
  --k-button-border-color: var(--k-color-info);
  --k-button-outline-color: var(--k-color-info-light-5);
  --k-button-active-color: var(--k-color-info-dark-2);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-link-text-color: var(--k-color-info-light-5);
  --k-button-hover-bg-color: var(--k-color-info-light-3);
  --k-button-hover-border-color: var(--k-color-info-light-3);
  --k-button-active-bg-color: var(--k-color-info-dark-2);
  --k-button-active-border-color: var(--k-color-info-dark-2);
  --k-button-disabled-text-color: var(--k-color-white);
  --k-button-disabled-bg-color: var(--k-color-info-light-5);
  --k-button-disabled-border-color: var(--k-color-info-light-5);
}
.k-button--info.is-link,
.k-button--info.is-plain,
.k-button--info.is-text {
  --k-button-text-color: var(--k-color-info);
  --k-button-bg-color: var(--k-color-info-light-9);
  --k-button-border-color: var(--k-color-info-light-5);
  --k-button-hover-text-color: var(--k-color-white);
  --k-button-hover-bg-color: var(--k-color-info);
  --k-button-hover-border-color: var(--k-color-info);
  --k-button-active-text-color: var(--k-color-white);
}
.k-button--info.is-link.is-disabled,
.k-button--info.is-link.is-disabled:active,
.k-button--info.is-link.is-disabled:focus,
.k-button--info.is-link.is-disabled:hover,
.k-button--info.is-plain.is-disabled,
.k-button--info.is-plain.is-disabled:active,
.k-button--info.is-plain.is-disabled:focus,
.k-button--info.is-plain.is-disabled:hover,
.k-button--info.is-text.is-disabled,
.k-button--info.is-text.is-disabled:active,
.k-button--info.is-text.is-disabled:focus,
.k-button--info.is-text.is-disabled:hover {
  background-color: var(--k-color-info-light-9);
  border-color: var(--k-color-info-light-8);
  color: var(--k-color-info-light-5);
}
.k-button--large {
  --k-button-size: 40px;
  height: var(--k-button-size);
}
.k-button--large [class*='k-icon'] + span {
  margin-left: 8px;
}
.k-button--large {
  border-radius: var(--k-border-radius-base);
  font-size: var(--k-font-size-base);
  padding: 12px 19px;
}
.k-button--large.is-round {
  padding: 12px 19px;
}
.k-button--large.is-circle {
  padding: 12px;
  width: var(--k-button-size);
}
.k-button--small {
  --k-button-size: 24px;
  height: var(--k-button-size);
}
.k-button--small [class*='k-icon'] + span {
  margin-left: 4px;
}
.k-button--small {
  border-radius: calc(var(--k-border-radius-base) - 1px);
  font-size: 12px;
  padding: 5px 11px;
}
.k-button--small.is-round {
  padding: 5px 11px;
}
.k-button--small.is-circle {
  padding: 5px;
  width: var(--k-button-size);
}
