.k-tour .k-button,
.k-button,
.k-button--base {
  // el
  --k-button-font-weight: var(--k-font-weight-primary);
  --k-button-text-color: var(--k-text-color-regular);
  --k-button-disabled-text-color: var(--k-disabled-text-color);
  --k-button-disabled-bg-color: var(--k-fill-color-blank);
  --k-button-disabled-border-color: var(--k-border-color-light);
  --k-button-divide-border-color: rgba(255, 255, 255, 0.5);
  --k-button-hover-text-color: var(--k-color-primary);
  --k-button-hover-bg-color: var(--k-color-primary-light-9);
  --k-button-hover-border-color: var(--k-color-primary-light-7);
  --k-button-active-text-color: var(--k-button-hover-text-color);
  --k-button-active-border-color: var(--k-color-primary);
  --k-button-active-bg-color: var(--k-button-hover-bg-color);
  --k-button-outline-color: var(--k-color-primary-light-5);
  --k-button-hover-link-text-color: var(--k-text-color-secondary);
  --k-button-active-color: var(--k-text-color-primary);
  // bg
  --k-button-bg-color: var(--k-theme--fontColor);
  --k-button-bg-color--hover: var(--k-gray-50);
  --k-button-bg-color--active: var(--k-gray-100);
  --k-button-bg-color--disabled: var(--k-gray-100);
  --k-button-bg-color--loading: var(--k-theme--fontColor);
  // content
  --k-button-content-color: var(--k-gray-700);
  --k-button-content-color--hover: var(--k-gray-600);
  --k-button-content-color--active: var(--k-gray-500);
  --k-button-content-color--disabled: var(--k-gray-300);
  --k-button-content-color--loading: var(--k-gray-300);
  // border
  --k-button-border-color: var(--k-gray-200);
  --k-button-border-color--hover: var(--k-gray-200);
  --k-button-border-color--active: var(--k-gray-200);
  --k-button-border-color--disabled: var(--k-gray-200);
  --k-button-border-color--loading: var(--k-gray-200);
  --k-button-focus: rgba(var(--k-theme-primary-rgb), 0.2);
  --k-button-rounded: var(--k-theme-button-size-rounded--base);

  --font-size: var(--k-font-base);
  --line-height: var(--k-font-base-line);

  //el
  appearance: none;
  -webkit-appearance: none;
  font-weight: var(--k-button-font-weight);
  justify-content: center;
  outline: none;
  transition: 0.1s;
  white-space: nowrap;

  width: fit-content;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: var(--k-theme-button-size-gap-base);
  border-width: var(--k-size-px);
  border-style: solid;
  border-color: var(--k-button-border-color);
  padding: var(--k-theme-button-size-padding--base);
  height: var(--k-theme-button-size-height--base);
  border-radius: var(--k-button-rounded);
  color: var(--k-button-content-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  cursor: pointer;
  background-color: var(--k-button-bg-color);

  label {
    pointer-events: none;
    cursor: pointer;
    user-select: none;
  }

  span {
    display: inline-flex;
    align-items: center;
    gap: var(--k-theme-button-size-gap--base);
  }

  //el
  &.is-round {
    padding: 8px 15px;
    border-radius: var(--k-border-radius-round);
  }
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
    width: 32px;
  }
  &.is-text {
    background-color: transparent;
    border: 0 solid transparent;
    color: var(--k-button-text-color);

    &.is-disabled {
      background-color: transparent !important;
      color: var(--k-button-disabled-text-color);
    }
    &:not(.is-disabled) {
      &:hover {
        background-color: var(--k-fill-color-light);
      }
      &:focus-visible {
        outline: 2px solid var(--k-button-outline-color);
        outline-offset: 1px;
        transition:
          outline-offset 0s,
          outline 0s;
      }
      &:active {
        background-color: var(--k-fill-color);
      }
      &.is-has-bg {
        background-color: var(--k-fill-color-light);
        &:hover {
          background-color: var(--k-fill-color);
        }
        &:active {
          background-color: var(--k-fill-color-dark);
        }
      }
    }
  }
  &::-moz-focus-inner {
    border: 0;
  }
  & [class*='k-icon'] + span {
    margin-left: 6px;
  }
  & [class*='k-icon'] svg {
    vertical-align: bottom;
  }
  &.is-plain {
    --k-button-hover-text-color: var(--k-color-primary);
    --k-button-hover-bg-color: var(--k-fill-color-blank);
    --k-button-hover-border-color: var(--k-color-primary);
  }
  &.is-active {
    background-color: var(--k-button-active-bg-color);
    border-color: var(--k-button-active-border-color);
    color: var(--k-button-active-text-color);
    outline: none;
  }

  //el
  &.k-button--large {
    --k-button-size: 40px;
    height: var(--k-button-size);
    border-radius: var(--k-border-radius-base);
    font-size: var(--k-font-size-base);
    padding: 12px 19px;

    & [class*='k-icon'] + span {
      margin-left: 8px;
    }
    &.is-round {
      padding: 12px 19px;
    }
    &.is-circle {
      padding: 12px;
      width: var(--k-button-size);
    }
  }
  &.k-button--small {
    --k-button-size: 24px;
    height: var(--k-button-size);
    border-radius: calc(var(--k-border-radius-base) - 1px);
    font-size: 12px;
    padding: 5px 11px;

    & [class*='k-icon'] + span {
      margin-left: 4px;
    }

    &.is-round {
      padding: 5px 11px;
    }

    &.is-circle {
      padding: 5px;
      width: var(--k-button-size);
    }
  }

  // size
  &.k-button--sm {
    --k-button-rounded: var(--k-theme-button-size-rounded--sm);
    --font-size: var(--k-font-sm);
    --line-height: var(--k-font-sm-line);
    padding: var(--k-theme-button-size-padding--sm);
    height: var(--k-theme-button-size-height--sm);
    gap: var(--k-theme-button-size-gap--sm);

    span {
      display: inline-flex;
      align-items: center;
      gap: var(--k-theme-button-size-gap--sm);
    }

    &.k-button--icon {
      width: var(--k-theme-button-size-height--sm);
      height: var(--k-theme-button-size-height--sm);
    }
  }
  &.k-button--lg {
    --k-button-rounded: var(--k-theme-button-size-rounded--lg);
    --font-size: var(--k-font-lg);
    --line-height: var(--k-font-lg-line);
    padding: var(--k-theme-button-size-padding--lg);
    height: var(--k-theme-button-size-height--lg);
    gap: var(--k-theme-button-size-gap--lg);

    span {
      display: inline-flex;
      align-items: center;
      gap: var(--k-theme-button-size-gap--lg);
    }

    &.k-button--icon {
      width: var(--k-theme-button-size-height--lg);
      height: var(--k-theme-button-size-height--lg);
    }
  }

  &:hover:not(.is-disabled, .is-loading) {
    //el
    outline: none;

    background: var(--k-button-bg-color--hover);
    color: var(--k-button-content-color--hover);
    border-color: var(--k-button-border-color--hover);
  }

  &:active:not(.is-disabled, .is-loading) {
    //el
    outline: none;

    background: var(--k-button-bg-color--active);
    color: var(--k-button-content-color--active);
    border-color: var(--k-button-border-color--active);
  }

  &.is-loading {
    background: var(--k-button-bg-color--loading);
    color: var(--k-button-content-color--loading);
    border-color: var(--k-button-border-color--loading);
    pointer-events: auto;
    cursor: wait;
    label {
      cursor: wait;
    }

    .k-icon.is-loading {
      display: none;
    }

    &:before {
      background-color: var(--k-mask-color-extra-light);
      border-radius: inherit;
      bottom: -1px;
      content: '';
      left: -1px;
      pointer-events: none;
      position: absolute;
      right: -1px;
      top: -1px;
      z-index: 1;
    }
  }

  &.is-disabled {
    //el
    background-image: none;

    // disabled style
    background: var(--k-button-bg-color--disabled);
    color: var(--k-button-content-color--disabled);
    border-color: var(--k-button-border-color--disabled);
    cursor: not-allowed;
    &:hover {
      //el
      outline: none;

      background: var(--k-button-bg-color--disabled);
      color: var(--k-button-content-color--disabled);
      border-color: var(--k-button-border-color--disabled);
    }
  }

  // // main style
  &.k-button--main {
    // bg
    --k-button-bg-color-main: var(--k-theme-primary);
    --k-button-bg-color-main--hover: var(--k-theme-primary-400);
    --k-button-bg-color-main--active: var(--k-theme-primary-600);
    --k-button-bg-color-main--disabled: var(--k-gray-200);
    --k-button-bg-color-main--loading: var(--k-theme-primary-300);
    // content
    --k-button-content-color-main: var(--k-theme--fontColor);
    --k-button-content-color-main--hover: var(--k-theme--fontColor);
    --k-button-content-color-main--active: var(--k-theme--fontColor);
    --k-button-content-color-main--disabled: var(--k-theme--fontColor);
    --k-button-content-color-main--loading: var(--k-theme--fontColor);
    // border
    --k-button-border-color-main: var(--k-theme-primary);
    --k-button-border-color-main--hover: var(--k-theme-primary-400);
    --k-button-border-color-main--active: var(--k-theme-primary-600);
    --k-button-border-color-main--disabled: var(--k-gray-200);
    --k-button-border-color-main--loading: var(--k-theme-primary-300);
    background: var(--k-button-bg-color-main);
    color: var(--k-button-content-color-main);
    border-color: var(--k-button-border-color-main);

    &:hover:not(.is-disabled, .is-loading) {
      //el
      outline: none;

      background: var(--k-button-bg-color-main--hover);
      color: var(--k-button-content-color-main--hover);
      border-color: var(--k-button-border-color-main--hover);
    }
    &:active:not(.is-disabled, .is-loading) {
      //el
      outline: none;

      background: var(--k-button-bg-color-main--active);
      color: var(--k-button-content-color-main--active);
      border-color: var(--k-button-border-color-main--active);
    }
    &.is-loading {
      //el
      pointer-events: none;
      position: relative;

      background: var(--k-button-bg-color-main--loading);
      color: var(--k-button-content-color-main--loading);
      border-color: var(--k-button-border-color-main--loading);
    }
    &.is-disabled {
      background: var(--k-button-bg-color-main--disabled);
      color: var(--k-button-content-color-main--disabled);
      border-color: var(--k-button-border-color-main--disabled);
    }
  }

  // // secondary style
  &.k-button--secondary {
    // bg
    --k-button-bg-color-secondary: transparent;
    --k-button-bg-color-secondary--hover: var(--k-theme-primary-50);
    --k-button-bg-color-secondary--active: var(--k-theme-primary-50);
    --k-button-bg-color-secondary--loading: transparent;
    --k-button-bg-color-secondary--disabled: var(--k-gray-100);
    // content
    --k-button-content-color-secondary: var(--k-theme-primary);
    --k-button-content-color-secondary--hover: var(--k-theme-primary-400);
    --k-button-content-color-secondary--active: var(--k-theme-primary-600);
    --k-button-content-color-secondary--loading: var(--k-theme-primary-300);
    --k-button-content-color-secondary--disabled: var(--k-gray-300);
    // border
    --k-button-border-color-secondary: var(--k-theme-primary);
    --k-button-border-color-secondary--hover: var(--k-theme-primary-400);
    --k-button-border-color-secondary--active: var(--k-theme-primary-600);
    --k-button-border-color-secondary--loading: var(--k-theme-primary-300);
    --k-button-border-color-secondary--disabled: var(--k-gray-200);
    background: var(--k-button-bg-color-secondary);
    color: var(--k-button-content-color-secondary);
    border-color: var(--k-button-border-color-secondary);
    &:hover:not(.is-disabled, .is-loading) {
      background: var(--k-button-bg-color-secondary--hover);
      color: var(--k-button-content-color-secondary--hover);
      border-color: var(--k-button-border-color-secondary--hover);
    }
    &:active:not(.is-disabled, .is-loading) {
      background: var(--k-button-bg-color-secondary--active);
      color: var(--k-button-content-color-secondary--active);
      border-color: var(--k-button-border-color-secondary--active);
    }
    &.is-loading {
      background: var(--k-button-bg-color-secondary--loading);
      color: var(--k-button-content-color-secondary--loading);
      border-color: var(--k-button-border-color-secondary--loading);
    }
    &.is-disabled {
      background: var(--k-button-bg-color-secondary--disabled);
      color: var(--k-button-content-color-secondary--disabled);
      border-color: var(--k-button-border-color-secondary--disabled);
    }
  }

  //el
  &.k-button__link--expand {
    letter-spacing: 0.3em;
    margin-right: -0.3em;
  }

  // text style
  &.k-button--text,
  &.is-link {
    //el
    height: auto;
    padding: 0 0;
    // bg
    --k-button-bg-color-text: transparent;
    --k-button-bg-color-text--hover: thansparent;
    --k-button-bg-color-text--active: thansparent;
    --k-button-bg-color-text--disabled: thansparent;
    --k-button-bg-color-text--loading: thansparent;
    // content
    --k-button-content-color-text: var(--k-theme-primary);
    --k-button-content-color-text--hover: var(--k-theme-primary-400);
    --k-button-content-color-text--active: var(--k-theme-primary-600);
    --k-button-content-color-text--disabled: var(--k-gray-300);
    --k-button-content-color-text--loading: var(--k-theme-primary-300);
    // border
    --k-button-border-color-text: transparent;
    --k-button-border-color-text--hover: transparent;
    --k-button-border-color-text--active: transparent;
    --k-button-border-color-text--disabled: transparent;
    --k-button-border-color-text--loading: transparent;
    padding-left: 0;
    padding-right: 0;
    background: var(--k-button-bg-color-text);
    color: var(--k-button-content-color-text);
    border-color: var(--k-button-border-color-text);
    &:hover:not(.is-disabled, .is-loading) {
      background: var(--k-button-bg-color-text--hover);
      color: var(--k-button-content-color-text--hover);
      border-color: var(--k-button-border-color-text--hover);
    }
    &:active:not(.is-disabled, .is-loading) {
      background: var(--k-button-bg-color-text--active);
      color: var(--k-button-content-color-text--active);
      border-color: var(--k-button-border-color-text--active);
    }
    &.is-loading {
      background: var(--k-button-bg-color-text--loading);
      color: var(--k-button-content-color-text--loading);
      border-color: var(--k-button-border-color-text--loading);
    }
    &.is-disabled {
      background: var(--k-button-bg-color-text--disabled);
      color: var(--k-button-content-color-text--disabled);
      border-color: var(--k-button-border-color-text--disabled);
    }
  }
  &.k-button__text--expand {
    letter-spacing: 0.3em;
    margin-right: -0.3em;
  }

  // icon style
  &.k-button--icon {
    display: inline-flex;
    width: var(--k-theme-button-size-height--base);
    padding: 0;
    justify-content: center;
    align-items: center;

    &.is-loading {
      .ksw-icon:not(.ksw-icon-Loading) {
        display: none;
      }
      label {
        display: none;
      }
      span {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  & + .k-button {
    margin-left: 0.75rem;
  }

  // 覆盖原生样式
  &:visited,
  &:focus-visible {
    outline: none;
    outline-offset: unset;
    transition: unset;
    box-shadow: var(--k-theme-focue-size) var(--k-button-focus);
  }

  // // 内置颜色
  &.k-button--primary {
    //el
    --k-button-text-color: var(--k-color-white);
    --k-button-bg-color: var(--k-color-primary);
    --k-button-border-color: var(--k-color-primary);
    --k-button-outline-color: var(--k-color-primary-light-5);
    --k-button-active-color: var(--k-color-primary-dark-2);
    --k-button-hover-text-color: var(--k-color-white);
    --k-button-hover-link-text-color: var(--k-color-primary-light-5);
    --k-button-hover-bg-color: var(--k-color-primary-light-3);
    --k-button-hover-border-color: var(--k-color-primary-light-3);
    --k-button-active-bg-color: var(--k-color-primary-dark-2);
    --k-button-active-border-color: var(--k-color-primary-dark-2);
    --k-button-disabled-text-color: var(--k-color-white);
    --k-button-disabled-bg-color: var(--k-color-primary-light-5);
    --k-button-disabled-border-color: var(--k-color-primary-light-5);

    // background-color: var(--k-theme-primary);
    // color: #fff;
    // bg
    --k-button-bg-color-main: var(--k-theme-primary);
    --k-button-bg-color-main--hover: var(--k-theme-primary-400);
    --k-button-bg-color-main--active: var(--k-theme-primary-600);
    --k-button-bg-color-main--disabled: var(--k-gray-200);
    --k-button-bg-color-main--loading: var(--k-theme-primary-300);
    // content
    --k-button-content-color-main: var(--k-theme--fontColor);
    --k-button-content-color-main--hover: var(--k-theme--fontColor);
    --k-button-content-color-main--active: var(--k-theme--fontColor);
    --k-button-content-color-main--disabled: var(--k-theme--fontColor);
    --k-button-content-color-main--loading: var(--k-theme--fontColor);
    // border
    --k-button-border-color-main: var(--k-theme-primary);
    --k-button-border-color-main--hover: var(--k-theme-primary-400);
    --k-button-border-color-main--active: var(--k-theme-primary-600);
    --k-button-border-color-main--disabled: var(--k-gray-200);
    --k-button-border-color-main--loading: var(--k-theme-primary-300);

    &:hover:not(.is-disabled, .is-loading) {
      background: var(--k-button-bg-color-main--hover);
      color: var(--k-button-content-color-main--hover);
      border-color: var(--k-button-border-color-main--hover);
    }
    &:active:not(.is-disabled, .is-loading) {
      background: var(--k-button-bg-color-main--active);
      color: var(--k-button-content-color-main--active);
      border-color: var(--k-button-border-color-main--active);
    }
    &.is-loading {
      background: var(--k-button-bg-color-main--loading);
      color: var(--k-button-content-color-main--loading);
      border-color: var(--k-button-border-color-main--loading);
    }
    &.is-disabled {
      background: var(--k-button-bg-color-main--disabled);
      color: var(--k-button-content-color-main--disabled);
      border-color: var(--k-button-border-color-main--disabled);
    }
    &.is-link,
    &.is-plain,
    &.is-text {
      --k-button-text-color: var(--k-color-primary);
      --k-button-bg-color: var(--k-color-primary-light-9);
      --k-button-border-color: var(--k-color-primary-light-5);
      --k-button-hover-text-color: var(--k-color-white);
      --k-button-hover-bg-color: var(--k-color-primary);
      --k-button-hover-border-color: var(--k-color-primary);
      --k-button-active-text-color: var(--k-color-white);
    }
    &.is-link.is-disabled,
    &.is-link.is-disabled:active,
    &.is-link.is-disabled:focus,
    &.is-link.is-disabled:hover,
    &.is-plain.is-disabled,
    &.is-plain.is-disabled:active,
    &.is-plain.is-disabled:focus,
    &.is-plain.is-disabled:hover,
    &.is-text.is-disabled,
    &.is-text.is-disabled:active,
    &.is-text.is-disabled:focus,
    &.is-text.is-disabled:hover {
      background-color: var(--k-color-primary-light-9);
      border-color: var(--k-color-primary-light-8);
      color: var(--k-color-primary-light-5);
    }
  }
  &.k-button--info {
    //el
    --k-button-text-color: var(--k-color-white);
    --k-button-bg-color: var(--k-color-info);
    --k-button-border-color: var(--k-color-info);
    --k-button-outline-color: var(--k-color-info-light-5);
    --k-button-active-color: var(--k-color-info-dark-2);
    --k-button-hover-text-color: var(--k-color-white);
    --k-button-hover-link-text-color: var(--k-color-info-light-5);
    --k-button-hover-bg-color: var(--k-color-info-light-3);
    --k-button-hover-border-color: var(--k-color-info-light-3);
    --k-button-active-bg-color: var(--k-color-info-dark-2);
    --k-button-active-border-color: var(--k-color-info-dark-2);
    --k-button-disabled-text-color: var(--k-color-white);
    --k-button-disabled-bg-color: var(--k-color-info-light-5);
    --k-button-disabled-border-color: var(--k-color-info-light-5);

    &.k-button--main {
      // bg
      --k-button-bg-color-main: var(--k-theme-info);
      --k-button-bg-color-main--hover: var(--k-theme-info-400);
      --k-button-bg-color-main--active: var(--k-theme-info-600);
      --k-button-bg-color-main--loading: var(--k-theme-info-300);
      // content
      // border
      --k-button-border-color-main: var(--k-theme-info);
      --k-button-border-color-main--hover: var(--k-theme-info-400);
      --k-button-border-color-main--active: var(--k-theme-info-600);
      --k-button-border-color-main--loading: var(--k-theme-info-300);
      --k-button-focus: rgba(var(--k-theme-info-rgb), 0.2);
    }
    &.k-button--secondary {
      // bg
      --k-button-bg-color-secondary--hover: var(--k-theme-info-50);
      --k-button-bg-color-secondary--active: var(--k-theme-info-50);
      // content
      --k-button-content-color-secondary: var(--k-theme-info);
      --k-button-content-color-secondary--hover: var(--k-theme-info-400);
      --k-button-content-color-secondary--active: var(--k-theme-info-600);
      --k-button-content-color-secondary--loading: var(--k-theme-info-300);
      // border
      --k-button-border-color-secondary: var(--k-theme-info);
      --k-button-border-color-secondary--hover: var(--k-theme-info-400);
      --k-button-border-color-secondary--active: var(--k-theme-info-600);
      --k-button-border-color-secondary--loading: var(--k-theme-info-300);
      --k-button-focus: rgba(var(--k-theme-info-rgb), 0.2);
    }

    //el
    &.is-link,
    &.is-plain,
    &.is-text {
      --k-button-text-color: var(--k-color-info);
      --k-button-bg-color: var(--k-color-info-light-9);
      --k-button-border-color: var(--k-color-info-light-5);
      --k-button-hover-text-color: var(--k-color-white);
      --k-button-hover-bg-color: var(--k-color-info);
      --k-button-hover-border-color: var(--k-color-info);
      --k-button-active-text-color: var(--k-color-white);
    }
    &.is-link.is-disabled,
    &.is-link.is-disabled:active,
    &.is-link.is-disabled:focus,
    &.is-link.is-disabled:hover,
    &.is-plain.is-disabled,
    &.is-plain.is-disabled:active,
    &.is-plain.is-disabled:focus,
    &.is-plain.is-disabled:hover,
    &.is-text.is-disabled,
    &.is-text.is-disabled:active,
    &.is-text.is-disabled:focus,
    &.is-text.is-disabled:hover {
      background-color: var(--k-color-info-light-9);
      border-color: var(--k-color-info-light-8);
      color: var(--k-color-info-light-5);
    }

    &.k-button--text,
    &.is-link {
      // bg
      // content
      --k-button-content-color-text: var(--k-theme-info);
      --k-button-content-color-text--hover: var(--k-theme-info-400);
      --k-button-content-color-text--active: var(--k-theme-info-600);
      --k-button-content-color-text--loading: var(--k-theme-info-300);
      // border
      --k-button-focus: rgba(var(--k-theme-info-rgb), 0.2);
    }
  }
  &.k-button--success {
    //el
    --k-button-text-color: var(--k-color-white);
    --k-button-bg-color: var(--k-color-success);
    --k-button-border-color: var(--k-color-success);
    --k-button-outline-color: var(--k-color-success-light-5);
    --k-button-active-color: var(--k-color-success-dark-2);
    --k-button-hover-text-color: var(--k-color-white);
    --k-button-hover-link-text-color: var(--k-color-success-light-5);
    --k-button-hover-bg-color: var(--k-color-success-light-3);
    --k-button-hover-border-color: var(--k-color-success-light-3);
    --k-button-active-bg-color: var(--k-color-success-dark-2);
    --k-button-active-border-color: var(--k-color-success-dark-2);
    --k-button-disabled-text-color: var(--k-color-white);
    --k-button-disabled-bg-color: var(--k-color-success-light-5);
    --k-button-disabled-border-color: var(--k-color-success-light-5);

    &.k-button--main {
      // bg
      --k-button-bg-color-main: var(--k-theme-success);
      --k-button-bg-color-main--hover: var(--k-theme-success-400);
      --k-button-bg-color-main--active: var(--k-theme-success-600);
      --k-button-bg-color-main--loading: var(--k-theme-success-300);
      // content
      // border
      --k-button-border-color-main: var(--k-theme-success);
      --k-button-border-color-main--hover: var(--k-theme-success-400);
      --k-button-border-color-main--active: var(--k-theme-success-600);
      --k-button-border-color-main--loading: var(--k-theme-success-300);
      --k-button-focus: rgba(var(--k-theme-success-rgb), 0.2);
    }
    &.k-button--secondary {
      // bg
      --k-button-bg-color-secondary--hover: var(--k-theme-success-50);
      --k-button-bg-color-secondary--active: var(--k-theme-success-50);
      // content
      --k-button-content-color-secondary: var(--k-theme-success);
      --k-button-content-color-secondary--hover: var(--k-theme-success-400);
      --k-button-content-color-secondary--active: var(--k-theme-success-600);
      --k-button-content-color-secondary--loading: var(--k-theme-success-300);
      // border
      --k-button-border-color-secondary: var(--k-theme-success);
      --k-button-border-color-secondary--hover: var(--k-theme-success-400);
      --k-button-border-color-secondary--active: var(--k-theme-success-600);
      --k-button-border-color-secondary--loading: var(--k-theme-success-300);
      --k-button-focus: rgba(var(--k-theme-success-rgb), 0.2);
    }
    //el
    &.is-link,
    &.is-plain,
    &.is-text {
      --k-button-text-color: var(--k-color-success);
      --k-button-bg-color: var(--k-color-success-light-9);
      --k-button-border-color: var(--k-color-success-light-5);
      --k-button-hover-text-color: var(--k-color-white);
      --k-button-hover-bg-color: var(--k-color-success);
      --k-button-hover-border-color: var(--k-color-success);
      --k-button-active-text-color: var(--k-color-white);
    }
    &.is-link.is-disabled,
    &.is-link.is-disabled:active,
    &.is-link.is-disabled:focus,
    &.is-link.is-disabled:hover,
    &.is-plain.is-disabled,
    &.is-plain.is-disabled:active,
    &.is-plain.is-disabled:focus,
    &.is-plain.is-disabled:hover,
    &.is-text.is-disabled,
    &.is-text.is-disabled:active,
    &.is-text.is-disabled:focus,
    &.is-text.is-disabled:hover {
      background-color: var(--k-color-success-light-9);
      border-color: var(--k-color-success-light-8);
      color: var(--k-color-success-light-5);
    }

    &.k-button--text,
    &.is-link {
      // bg
      // content
      --k-button-content-color-text: var(--k-theme-success);
      --k-button-content-color-text--hover: var(--k-theme-success-400);
      --k-button-content-color-text--active: var(--k-theme-success-600);
      --k-button-content-color-text--loading: var(--k-theme-success-300);
      // border
      --k-button-focus: rgba(var(--k-theme-success-rgb), 0.2);
    }
  }
  &.k-button--warning {
    //el
    --k-button-text-color: var(--k-color-white);
    --k-button-bg-color: var(--k-color-warning);
    --k-button-border-color: var(--k-color-warning);
    --k-button-outline-color: var(--k-color-warning-light-5);
    --k-button-active-color: var(--k-color-warning-dark-2);
    --k-button-hover-text-color: var(--k-color-white);
    --k-button-hover-link-text-color: var(--k-color-warning-light-5);
    --k-button-hover-bg-color: var(--k-color-warning-light-3);
    --k-button-hover-border-color: var(--k-color-warning-light-3);
    --k-button-active-bg-color: var(--k-color-warning-dark-2);
    --k-button-active-border-color: var(--k-color-warning-dark-2);
    --k-button-disabled-text-color: var(--k-color-white);
    --k-button-disabled-bg-color: var(--k-color-warning-light-5);
    --k-button-disabled-border-color: var(--k-color-warning-light-5);

    &.k-button--main {
      // bg
      --k-button-bg-color-main: var(--k-theme-warning);
      --k-button-bg-color-main--hover: var(--k-theme-warning-400);
      --k-button-bg-color-main--active: var(--k-theme-warning-600);
      --k-button-bg-color-main--loading: var(--k-theme-warning-300);
      // content
      // border
      --k-button-border-color-main: var(--k-theme-warning);
      --k-button-border-color-main--hover: var(--k-theme-warning-400);
      --k-button-border-color-main--active: var(--k-theme-warning-600);
      --k-button-border-color-main--loading: var(--k-theme-warning-300);
      --k-button-focus: rgba(var(--k-theme-warning-rgb), 0.2);
    }
    &.k-button--secondary {
      // bg
      --k-button-bg-color-secondary--hover: var(--k-theme-warning-50);
      --k-button-bg-color-secondary--active: var(--k-theme-warning-50);
      // content
      --k-button-content-color-secondary: var(--k-theme-warning);
      --k-button-content-color-secondary--hover: var(--k-theme-warning-400);
      --k-button-content-color-secondary--active: var(--k-theme-warning-600);
      --k-button-content-color-secondary--loading: var(--k-theme-warning-300);
      // border
      --k-button-border-color-secondary: var(--k-theme-warning);
      --k-button-border-color-secondary--hover: var(--k-theme-warning-400);
      --k-button-border-color-secondary--active: var(--k-theme-warning-600);
      --k-button-border-color-secondary--loading: var(--k-theme-warning-300);
      --k-button-focus: rgba(var(--k-theme-warning-rgb), 0.2);
    }

    //el
    &.is-link,
    &.is-plain,
    &.is-text {
      --k-button-text-color: var(--k-color-warning);
      --k-button-bg-color: var(--k-color-warning-light-9);
      --k-button-border-color: var(--k-color-warning-light-5);
      --k-button-hover-text-color: var(--k-color-white);
      --k-button-hover-bg-color: var(--k-color-warning);
      --k-button-hover-border-color: var(--k-color-warning);
      --k-button-active-text-color: var(--k-color-white);
    }
    &.is-link.is-disabled,
    &.is-link.is-disabled:active,
    &.is-link.is-disabled:focus,
    &.is-link.is-disabled:hover,
    &.is-plain.is-disabled,
    &.is-plain.is-disabled:active,
    &.is-plain.is-disabled:focus,
    &.is-plain.is-disabled:hover,
    &.is-text.is-disabled,
    &.is-text.is-disabled:active,
    &.is-text.is-disabled:focus,
    &.is-text.is-disabled:hover {
      background-color: var(--k-color-warning-light-9);
      border-color: var(--k-color-warning-light-8);
      color: var(--k-color-warning-light-5);
    }

    &.k-button--text,
    &.is-link {
      // bg
      // content
      --k-button-content-color-text: var(--k-theme-warning);
      --k-button-content-color-text--hover: var(--k-theme-warning-400);
      --k-button-content-color-text--active: var(--k-theme-warning-600);
      --k-button-content-color-text--loading: var(--k-theme-warning-300);
      // border
      --k-button-focus: rgba(var(--k-theme-warning-rgb), 0.2);
    }
  }
  &.k-button--danger {
    //el
    --k-button-text-color: var(--k-color-white);
    --k-button-bg-color: var(--k-color-danger);
    --k-button-border-color: var(--k-color-danger);
    --k-button-outline-color: var(--k-color-danger-light-5);
    --k-button-active-color: var(--k-color-danger-dark-2);
    --k-button-hover-text-color: var(--k-color-white);
    --k-button-hover-link-text-color: var(--k-color-danger-light-5);
    --k-button-hover-bg-color: var(--k-color-danger-light-3);
    --k-button-hover-border-color: var(--k-color-danger-light-3);
    --k-button-active-bg-color: var(--k-color-danger-dark-2);
    --k-button-active-border-color: var(--k-color-danger-dark-2);
    --k-button-disabled-text-color: var(--k-color-white);
    --k-button-disabled-bg-color: var(--k-color-danger-light-5);
    --k-button-disabled-border-color: var(--k-color-danger-light-5);

    &.k-button--main {
      // bg
      --k-button-bg-color-main: var(--k-theme-danger);
      --k-button-bg-color-main--hover: var(--k-theme-danger-400);
      --k-button-bg-color-main--active: var(--k-theme-danger-600);
      --k-button-bg-color-main--loading: var(--k-theme-danger-300);
      // content
      // border
      --k-button-border-color-main: var(--k-theme-danger);
      --k-button-border-color-main--hover: var(--k-theme-danger-400);
      --k-button-border-color-main--active: var(--k-theme-danger-600);
      --k-button-border-color-main--loading: var(--k-theme-danger-300);
      --k-button-focus: rgba(var(--k-theme-danger-rgb), 0.2);
    }
    &.k-button--secondary {
      // bg
      --k-button-bg-color-secondary--hover: var(--k-theme-danger-50);
      --k-button-bg-color-secondary--active: var(--k-theme-danger-50);
      // content
      --k-button-content-color-secondary: var(--k-theme-danger);
      --k-button-content-color-secondary--hover: var(--k-theme-danger-400);
      --k-button-content-color-secondary--active: var(--k-theme-danger-600);
      --k-button-content-color-secondary--loading: var(--k-theme-danger-300);
      // border
      --k-button-border-color-secondary: var(--k-theme-danger);
      --k-button-border-color-secondary--hover: var(--k-theme-danger-400);
      --k-button-border-color-secondary--active: var(--k-theme-danger-600);
      --k-button-border-color-secondary--loading: var(--k-theme-danger-300);
      --k-button-focus: rgba(var(--k-theme-danger-rgb), 0.2);
    }
    //el
    &.is-link,
    &.is-plain,
    &.is-text {
      --k-button-text-color: var(--k-color-danger);
      --k-button-bg-color: var(--k-color-danger-light-9);
      --k-button-border-color: var(--k-color-danger-light-5);
      --k-button-hover-text-color: var(--k-color-white);
      --k-button-hover-bg-color: var(--k-color-danger);
      --k-button-hover-border-color: var(--k-color-danger);
      --k-button-active-text-color: var(--k-color-white);
    }
    &.is-link.is-disabled,
    &.is-link.is-disabled:active,
    &.is-link.is-disabled:focus,
    &.is-link.is-disabled:hover,
    &.is-plain.is-disabled,
    &.is-plain.is-disabled:active,
    &.is-plain.is-disabled:focus,
    &.is-plain.is-disabled:hover,
    &.is-text.is-disabled,
    &.is-text.is-disabled:active,
    &.is-text.is-disabled:focus,
    &.is-text.is-disabled:hover {
      background-color: var(--k-color-danger-light-9);
      border-color: var(--k-color-danger-light-8);
      color: var(--k-color-danger-light-5);
    }

    &.k-button--text,
    &.is-link {
      // bg
      // content
      --k-button-content-color-text: var(--k-theme-danger);
      --k-button-content-color-text--hover: var(--k-theme-danger-400);
      --k-button-content-color-text--active: var(--k-theme-danger-600);
      --k-button-content-color-text--loading: var(--k-theme-danger-300);
      // border
      --k-button-focus: rgba(var(--k-theme-danger-rgb), 0.2);
    }
  }
}
.k-button-group {
  //el
  vertical-align: middle;

  display: inline-flex;
  --k-button-rounded: var(--k-theme-button-size-rounded--base);
  border-radius: var(--k-button-rounded);

  //el
  &:after,
  &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
  & > .k-button {
    float: left;
    position: relative;
    & + .k-button {
      margin-left: 0;
    }
    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &:first-child:last-child {
      border-bottom-left-radius: var(--k-border-radius-base);
      border-bottom-right-radius: var(--k-border-radius-base);
      border-top-left-radius: var(--k-border-radius-base);
      border-top-right-radius: var(--k-border-radius-base);
    }
    &.is-round {
      border-radius: var(--k-border-radius-round);
    }
    &.is-circle {
      border-radius: 50%;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }
    &.is-active,
    &:active,
    &:focus,
    &:hover {
      z-index: 1;
    }
  }
  & > .k-dropdown {
    > .k-button {
      border-bottom-left-radius: 0;
      border-left-color: var(--k-button-divide-border-color);
      border-top-left-radius: 0;
    }
  }
  & .k-button--primary {
    &:first-child {
      border-right-color: var(--k-button-divide-border-color);
    }
    &:last-child {
      border-left-color: var(--k-button-divide-border-color);
    }
    &:not(:first-child):not(:last-child) {
      border-left-color: var(--k-button-divide-border-color);
      border-right-color: var(--k-button-divide-border-color);
    }
  }
  & .k-button--success {
    &:first-child {
      border-right-color: var(--k-button-divide-border-color);
    }
    &:last-child {
      border-left-color: var(--k-button-divide-border-color)
    }
    &:not(:first-child):not(:last-child) {
      border-left-color: var(--k-button-divide-border-color);
      border-right-color: var(--k-button-divide-border-color)
    }
  }
  & .k-button--warning {
    &:first-child {
      border-right-color: var(--k-button-divide-border-color)
    }
    &:last-child {
      border-left-color: var(--k-button-divide-border-color)
    }
    &:not(:first-child):not(:last-child) {
      border-left-color: var(--k-button-divide-border-color);
      border-right-color: var(--k-button-divide-border-color)
    }
  }
  & .k-button--danger {
    &:first-child {
      border-right-color: var(--k-button-divide-border-color)
    }
    &:last-child {
      border-left-color: var(--k-button-divide-border-color)
    }
    &:not(:first-child):not(:last-child) {
      border-left-color: var(--k-button-divide-border-color);
      border-right-color: var(--k-button-divide-border-color)
    }
  }
  & .k-button--info {
    &:first-child {
      border-right-color: var(--k-button-divide-border-color)
    }
    &:last-child {
      border-left-color: var(--k-button-divide-border-color)
    }
    &:not(:first-child):not(:last-child) {
      border-left-color: var(--k-button-divide-border-color);
      border-right-color: var(--k-button-divide-border-color)
    }
  }

  .k-button {
    border-radius: 0;
    margin: 0;
    margin-left: -1px;
    z-index: 1;
    &:not(:last-child) {
      border-right-width: 0;
    }

    &.k-button--main,
    &.k-button--secondary {
      &:nth-child(1):visited,
      &:nth-child(1):focus-visible {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    &:first-child {
      border-top-left-radius: var(--k-button-rounded);
      border-bottom-left-radius: var(--k-button-rounded);
    }
    &:last-child {
      border-top-right-radius: var(--k-button-rounded);
      border-bottom-right-radius: var(--k-button-rounded);
    }
    & + & {
      margin-left: -1px;
    }
    & + .k-button--main {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    & + .k-dropdown,
    & + .k-dropdown {
      .k-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid var(--k-button-border-color);
      }
    }
  }
}
