@import url(variable.css);
@font-face {
  font-family: "MyCustomFont-Light";
  src: url("/public/font/AlibabaPuHuiTi-3-45-Light.otf") format("opentype");
}
@font-face {
  font-family: "MyCustomFont";
  src: url("/public/font/AlibabaPuHuiTi-3-55-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MyCustomFont-SemiBold";
  src: url("/public/font/AlibabaPuHuiTi-3-75-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "MyCustomFont-Bold";
  src: url("/public/font/AlibabaPuHuiTi-3-85-Bold.otf") format("opentype");
}

body {
  font-family: "MyCustomFont", sans-serif;
}

/* font-weight */
.font-light {
  font-family: "MyCustomFont-Light";
  font-weight: 450;
}

.font-semibold {
  font-family: "MyCustomFont-SemiBold";
  font-weight: 750;
}

.font-bold {
  font-family: "MyCustomFont-Bold";
  font-weight: 850;
}

/* font-size */
.text-xs {
  font-size: var(--font-xs);
  line-height: var(--font-xs-line);
}

.text-sm {
  font-size: var(--font-sm);
  line-height: var(--font-sm-line);
}

.text-base {
  font-size: var(--font-base);
  line-height: var(--font-base-line);
}

.text-lg {
  font-size: var(--font-lg);
  line-height: var(--font-lg-line);
}

.text-xl {
  font-size: var(--font-xl);
  line-height: var(--font-xl-line);
}

.text-2xl {
  font-size: var(--font-2xl);
  line-height: var(--font-2xl-line);
}

.text-3xl {
  font-size: var(--font-3xl);
  line-height: var(--font-3xl-line);
}

.text-4xl {
  font-size: var(--font-4xl);
  line-height: var(--font-4xl-line);
}

