// 引入 其他 less 文件
@import './variable.css';
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Alibaba PuHuiTi 3.0 55 Regular', sans-serif;
}

// 初始化样式
.init-style {
  margin: 0;
  padding: 0;
  border: unset;
  border-color: unset;
  border-radius: unset;
  background: unset;
  box-shadow: unset;
  font: inherit;
  color: inherit;
  font-size: 1rem;
  line-height: unset;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  box-sizing: border-box;
}

/* font-weight */
.font-light {
  font-family: 'Alibaba PuHuiTi 3.0 45 Light';
  font-weight: 450;
}

.font-semibold {
  font-family: 'Alibaba PuHuiTi 3.0 75 SemiBold';
  font-weight: 750;
}

.font-bold {
  font-family: 'Alibaba PuHuiTi 3.0 85 Bold';
  font-weight: 850;
}

/* font-size */
.text-xs {
  font-size: var(--font-xs);
  line-height: var(--font-xs-line);
}

.text-sm {
  font-size: var(--font-sm);
  line-height: var(--font-sm-line);
}

.text-base {
  font-size: var(--font-base);
  line-height: var(--font-base-line);
}

.text-lg {
  font-size: var(--font-lg);
  line-height: var(--font-lg-line);
}

.text-xl {
  font-size: var(--font-xl);
  line-height: var(--font-xl-line);
}

.text-2xl {
  font-size: var(--font-2xl);
  line-height: var(--font-2xl-line);
}

.text-3xl {
  font-size: var(--font-3xl);
  line-height: var(--font-3xl-line);
}

.text-4xl {
  font-size: var(--font-4xl);
  line-height: var(--font-4xl-line);
}
