:root {
  /* blue colors */
  --k-blue-50: #e8fbff;
  --k-blue-100: #d0f0ff;
  --k-blue-200: #bddcf7;
  --k-blue-300: #92cbfb;
  --k-blue-400: #54b3fd;
  --k-blue-500: #0095f9;
  --k-blue-600: #2c90d7;
  --k-blue-700: #1f86cd;
  --k-blue-800: #2f6590;
  --k-blue-900: #304b61;
  --k-blue-950: #1b354b;

  /* // color gray */
  --k-gray-100: #eae8eb;
  --k-gray-200: #cdcacf;
  --k-gray-25: #fafafa;
  --k-gray-50: #f5f5f5;
  --k-gray-300: #afabb3;
  --k-gray-400: #736f78;
  --k-gray-500: #38363c;
  --k-gray-600: #312d38;
  --k-gray-700: #231f2e;
  --k-gray-800: #181324;
  --k-gray-900: #0f0b1c;
  --k-gray-950: #080512;

  /* red colors */
  --k-red-50: #fff1ee;
  --k-red-100: #ffdfda;
  --k-red-200: #f7cbc7;
  --k-red-300: #f9aea7;
  --k-red-400: #f7857d;
  --k-red-500: #ed5350;
  --k-red-600: #d0635d;
  --k-red-700: #c65954;
  --k-red-800: #8c4b46;
  --k-red-900: #603d3a;
  --k-red-950: #492826;

  /* green colors */
  --k-green-50: #edfeec;
  --k-green-100: #d7f5d7;
  --k-green-200: #c4e1c4;
  --k-green-300: #a0d4a0;
  --k-green-400: #6ec272;
  --k-green-500: #25ab3a;
  --k-green-600: #4b9f50;
  --k-green-700: #419547;
  --k-green-800: #3d6e3f;
  --k-green-900: #364f37;
  --k-green-950: #223a23;

  /* purple colors */
  --k-purple-50: #fdf4ff;
  --k-purple-100: #f3e3ff;
  --k-purple-200: #dfd0f3;
  --k-purple-300: #d1b6f3;
  --k-purple-400: #bf93f1;
  --k-purple-500: #ab6aea;
  --k-purple-600: #9d71cc;
  --k-purple-700: #9468c2;
  --k-purple-800: #6c5289;
  --k-purple-900: #4e415e;
  --k-purple-950: #392c47;

  /* yellow colors */
  --k-yellow-50: #fff7e2;
  --k-yellow-100: #fbe9c6;
  --k-yellow-200: #e7d6b3;
  --k-yellow-300: #dfc07f;
  --k-yellow-400: #d3a329;
  --k-yellow-500: #c38100;
  --k-yellow-600: #b08000;
  --k-yellow-700: #a67700;
  --k-yellow-800: #785c18;
  --k-yellow-900: #544627;
  --k-yellow-950: #3f3112;

  /* orange colors */
  --k-orange-50: #fff4e6;
  --k-orange-100: #ffe3cc;
  --k-orange-200: #f3d0b9;
  --k-orange-300: #f2b58c;
  --k-orange-400: #ed914c;
  --k-orange-500: #e26600;
  --k-orange-600: #c86f25;
  --k-orange-700: #be6517;
  --k-orange-800: #87512a;
  --k-orange-900: #5d402d;
  --k-orange-950: #462c19;

  --k-shadow-base: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
  --k-shadow-input-active: 0px 0px 0px 4px rgba(40, 130, 255, 0.2); /* 输入框获取焦点 */

  /* // color custom&status */
  --k-normal: #38363c; /* 默认字体颜色 */
  --k-status-captured: #fac814;
  --k-status-danger: #ef4444;
  --k-status-info: #6b7280;
  --k-status-primary: var(--k-blue-500);
  --k-status-success: #22c55e;
  --k-status-warning: #f97316;
  --k-theme-default: var(--k-blue-500);
  --k-theme-light: #ffffff;

  /* // border-radius */
  --k-rounded-sm: 0.25rem;
  --k-rounded-base: 0.375rem;
  --k-rounded-lg: 0.5rem;
  --k-rounded-xl: 0.75rem;
  --k-rounded-full: 100rem;

  /* // font */
  --font-xs: 0.625rem;
  --font-xs-line: 0.875rem;
  --font-sm: 0.75rem;
  --font-sm-line: 1rem;
  --font-base: 0.875rem;
  --font-base-line: 1.25rem;
  --font-lg: 1rem;
  --font-lg-line: 1.5rem;
  --font-xl: 1.125rem;
  --font-xl-line: 1.75rem;
  --font-2xl: 1.25rem;
  --font-2xl-line: 1.75rem;
  --font-3xl: 1.5rem;
  --font-3xl-line: 2rem;
  --font-4xl: 1.75rem;
  --font-4xl-line: 2.25rem;

  /* theme */
  --theme--bg: #e5f1f9;
  --theme-text--heavy: var(--k-gray-900);
  --theme-text--normal: var(--k-normal);
  --theme-text--light: var(--k-status-info);
  --theme-text--info: var(--k-status-info);
  --theme-color--primary: var(--k-status-primary);
  --theme-color--success: var(--k-status-success);
  --theme-color--warning: var(--k-status-warning);
  --theme-color--danger: var(--k-status-danger);
  --theme-color--captured: var(--k-status-captured);
  --theme-border-color-heavy: var(--k-gray-300);
  --theme-border-color-normal: var(--k-gray-200);
  --theme-border-color-light: var(--k-gray-100);
}
