:root {
    /* // color blue */
    --k-blue-50: #f5fcff;
    --k-blue-100: #ebf9ff;
    --k-blue-200: #c9ebff;
    --k-blue-300: #a8dbff;
    --k-blue-400: #69b4ff;
    --k-blue-500: #2882ff;
    --k-blue-600: #0037db;
    --k-blue-700: #002bb8;
    --k-blue-800: #002094;
    --k-blue-900: #00166e;
    --k-blue-950: #000c47;

    /* // color gray */
    --k-gray-100: #eae8eb;
    --k-gray-200: #cdcacf;
    --k-gray-25: #fafafa;
    --k-gray-50: #f5f5f5;
    --k-gray-300: #afabb3;
    --k-gray-400: #736f78;
    --k-gray-500: #38363c;
    --k-gray-600: #312d38;
    --k-gray-700: #231f2e;
    --k-gray-800: #181324;
    --k-gray-900: #0f0b1c;
    --k-gray-950: #080512;

    /* // color red */
    --k-red-100: #ffe8f4;
    --k-red-200: #ffc4df;
    --k-red-300: #ffa1c6;
    --k-red-400: #ff5c87;
    --k-red-50: #fff2f9;
    --k-red-500: #ff1535;
    --k-red-600: #e6102d;
    --k-red-700: #bf0b20;
    --k-red-800: #990816;
    --k-red-900: #730510;
    --k-red-950: #4a0108;

    /* // color green */
    --k-green-50: #f2fcf9;
    --k-green-100: #e6faf3;
    --k-green-200: #bdf0dc;
    --k-green-300: #9be8c6;
    --k-green-400: #5ad694;
    --k-green-500: #22c55e;
    --k-green-600: #1ab04f;
    --k-green-700: #13943c;
    --k-green-800: #0c752b;
    --k-green-900: #07591d;
    --k-green-950: #03380f;

    /* // color purple */
    --k-purple-50: #fdf5ff;
    --k-purple-100: #faebff;
    --k-purple-200: #f1ccff;
    --k-purple-300: #e6abff;
    --k-purple-400: #ca6eff;
    --k-purple-500: #a52fff;
    --k-purple-600: #8c25e6;
    --k-purple-700: #6c19bf;
    --k-purple-800: #4e1199;
    --k-purple-900: #350973;
    --k-purple-950: #1d044a;

    /* // color yellow */
    --k-yellow-50: #fffef2;
    --k-yellow-100: #fffce8;
    --k-yellow-200: #fff7c4;
    --k-yellow-300: #fcee9f;
    --k-yellow-400: #fcdf5b;
    --k-yellow-500: #fac814;
    --k-yellow-600: #e0ac10;
    --k-yellow-700: #ba830b;
    --k-yellow-800: #966208;
    --k-yellow-900: #704204;
    --k-yellow-950: #472401;

    /* // color orange */
    --k-orange-50: #fffbf2;
    --k-orange-100: #fff8e8;
    --k-orange-200: #ffe9c4;
    --k-orange-300: #fcd8a2;
    --k-orange-400: #fcac5b;
    --k-orange-500: #f97316;
    --k-orange-600: #e06512;
    --k-orange-700: #ba4d0d;
    --k-orange-800: #963708;
    --k-orange-900: #702504;
    --k-orange-950: #471502;

    --k-shadow-base: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
    --k-shadow-input-active: 0px 0px 0px 4px rgba(40, 130, 255, 0.2); /* 输入框获取焦点 */

    /* // color custom&status */
    --k-normal: #38363c; /* 默认字体颜色 */
    --k-status-captured: #fac814;
    --k-status-danger: #ef4444;
    --k-status-info: #6b7280;
    --k-status-primary: #2882ff;
    --k-status-success: #22c55e;
    --k-status-warning: #f97316;
    --k-theme-default: #2882ff;
    --k-theme-light: #ffffff;

    /* // border-radius */
    --k-rounded-sm: 0.25rem;
    --k-rounded-base: 0.375rem;
    --k-rounded-lg: 0.5rem;
    --k-rounded-xl: 0.75rem;

    /* // font */
    --font-xs: 0.625rem;
    --font-xs-line: 0.875rem;
    --font-sm: 0.75rem;
    --font-sm-line: 1rem;
    --font-base: 0.875rem;
    --font-base-line: 1.25rem;
    --font-lg: 1rem;
    --font-lg-line: 1.5rem;
    --font-xl: 1.125rem;
    --font-xl-line: 1.75rem;
    --font-2xl: 1.25rem;
    --font-2xl-line: 1.75rem;
    --font-3xl: 1.5rem;
    --font-3xl-line: 2rem;
    --font-4xl: 1.75rem;
    --font-4xl-line: 2.25rem;
}
