@import '../../style/variable.css';
@import '../../style/general.less';

.k-form .el-form-item.is-error .el-input__wrapper,
.el-form-item.is-error .el-input__wrapper.is-focus,
.el-form-item.is-error .el-input__wrapper:focus,
.el-form-item.is-error .el-input__wrapper:hover,
.el-form-item.is-error .el-select__wrapper,
.el-form-item.is-error .el-select__wrapper.is-focus,
.el-form-item.is-error .el-select__wrapper:focus,
.el-form-item.is-error .el-select__wrapper:hover,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner.is-focus,
.el-form-item.is-error .el-textarea__inner:focus,
.el-form-item.is-error .el-textarea__inner:hover {
  border-color: var(--k-theme-danger);
}

.k-form {
  .k-form-item {
    margin-bottom: 1.375rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25rem;
    .el-form-item__label {
      display: inline-flex;
      // overflow: hidden;
      &::before {
        content: '*';
        opacity: 0;
      }
      &::after {
        right: -0.1rem;
      }

      > span,
      span {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        color: var(--k-theme-form-item__label-color);
        // color: red;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
    .el-form-item__content {
      .el-form-item__error {
        color: var(--k-theme-danger);
      }
    }
    &.is-error {
      .el-textarea__inner,
      .el-input__wrapper {
        box-shadow: unset;
        &.is-focus {
          box-shadow: unset;
        }
        &:hover {
          box-shadow: unset;
        }
      }
      .el-form-item__content {
        // background: #000;
        .el-date-editor.el-date-editor--daterange.el-input__wrapper.el-range-editor.k-date-picker.el-tooltip__trigger.el-tooltip__trigger {
          border: 1px solid var(--k-theme-danger);
          box-shadow: unset;
        }
      }
    }
    &.el-form-item--label-right {
      .el-form-item__label {
        // position: relative;
        &::before {
          position: unset;
          // left: 0;
        }
      }
    }
    &.el-form-item--label-top {
      display: block;
      flex-direction: column;
      width: 100%;
      .el-form-item__label {
        width: fit-content;
        margin-bottom: 0.25rem;
      }
      .el-form-item__content {
        width: 100%;
      }
    }
    &.k-form-item--colon {
      > .el-form-item__label::after {
        content: ':';
      }
    }
    &.is-required {
      > .el-form-item__label::before {
        content: '*';
        opacity: 1;
      }
      > .el-form-item__label-wrap {
        // margin-right: 0px !important;
        > .el-form-item__label::before {
          content: '*';
          opacity: 1;
        }
      }
    }
    // 适配嵌套样式
    .el-form-item__content {
      div {
        .k-form-item {
          &.is-required {
            .el-form-item__label-wrap {
              margin-right: 0px !important;
              .el-form-item__label::before {
                content: '*';
                opacity: 1;
                color: red;
              }
            }
          }
          &.k-form-item--no-label {
            .el-form-item__label-wrap {
              .el-form-item__label {
                display: none;
              }
            }
          }
        }
      }
    }
    &.k-form-item--no-label {
      > .k-form-item__label,
      > .el-form-item__label {
        display: none;
      }
    }
  }
  &.el-form-item--default {
    .el-form-item__error {
      padding: 0;
      margin-top: 0;
      .text-base();
    }
  }
  &.el-form--small {
    padding: 0;
    margin-right: 0.5rem;
    .el-form-item__label {
      .text-sm();
      height: unset;
    }
    .el-form-item__error {
      .text-sm();
      margin-top: 0;
      padding: 0;
    }
    .el-form-item--label-left,
    .el-form-item--label-top {
      margin-bottom: 1.25rem;
    }
  }
  &.el-form--large {
    padding: 0;
    margin-right: 0.5rem;
    .el-form-item__label {
      .text-lg();
      height: unset;
    }
    .el-form-item__error {
      .text-lg();
      margin-top: 0;
      padding: 0;
    }
    .el-form-item--label-left,
    .el-form-item--label-top {
      margin-bottom: 1.75rem;
    }
  }
}
