.el-popper {
  &:has(.el-select-dropdown) {
    margin-top: -0.5rem;
    .el-select-dropdown {
      .el-scrollbar {
      }
    }
    .el-popper__arrow {
      display: none;
    }
  }
}

.GFAOM.k-tree-table {
  &.GFAOM.tree-table-use-ant-style {
    .pagination-box {
      width: 100%;
      display: inline-flex;
      justify-content: end;
    }
  }
}
.GFAOM.k-form {
  .el-form-item__label {
    color: var(--k-theme-text--normal);
  }
}
