@import '../../variable.css';
@import './custom.less';

body.GFAOM {
  --k-theme-test: blue;
  --theme-name: 'Hello, GFAOM!';
  /*
   * 主题色 theme color🎨 
   */
  /* primary-rgb */
  --k-theme-primary: rgb(24, 144, 255);
  --k-theme-primary-50: rgb(222.34, 250.88, 255);
  --k-theme-primary-100: rgb(199.3, 238.79, 255);
  --k-theme-primary-200: rgb(167.15, 221.47, 255);
  --k-theme-primary-300: rgb(133.53, 203.8, 255);
  --k-theme-primary-400: rgb(72.75, 175.06, 255);
  --k-theme-primary-500: rgb(24, 144, 255);
  --k-theme-primary-600: rgb(8.2, 121.44, 219.59);
  --k-theme-primary-700: rgb(0, 90.95, 172.28);
  --k-theme-primary-800: rgb(0, 70.17, 139.72);
  --k-theme-primary-900: rgb(0, 50.35, 108.35);
  --k-theme-primary-950: rgb(0, 29.59, 75.63);

  --k-theme-primary--hover: var(--k-theme-primary-400);
  --k-theme-primary--active: var(--k-theme-primary-600);
  --k-theme-primary--focus: var(--k-theme-primary-100);
  --k-theme-primary-rgb: 22, 119, 255;

  /* info-rgb */
  --k-theme-info: rgb(var(--k-slate-rgb-500));
  --k-theme-info-50: rgb(var(--k-slate-rgb-50));
  --k-theme-info-100: rgb(var(--k-slate-rgb-100));
  --k-theme-info-200: rgb(var(--k-slate-rgb-200));
  --k-theme-info-300: rgb(var(--k-slate-rgb-300));
  --k-theme-info-400: rgb(var(--k-slate-rgb-400));
  --k-theme-info-500: rgb(var(--k-slate-rgb-500));
  --k-theme-info-600: rgb(var(--k-slate-rgb-600));
  --k-theme-info-700: rgb(var(--k-slate-rgb-700));
  --k-theme-info-800: rgb(var(--k-slate-rgb-800));
  --k-theme-info-900: rgb(var(--k-slate-rgb-900));
  --k-theme-info-950: rgb(var(--k-slate-rgb-950));
  --k-theme-info--hover: rgb(var(--k-slate-rgb-400));
  --k-theme-info--active: rgb(var(--k-slate-rgb-600));
  --k-theme-info--focus: rgb(var(--k-slate-rgb-100));
  --k-theme-info-rgb: var(--k-slate-rgb-500);

  /* success-rgb */
  --k-theme-success: rgb(var(--k-green-rgb-500));
  --k-theme-success-50: rgb(var(--k-green-rgb-50));
  --k-theme-success-100: rgb(var(--k-green-rgb-100));
  --k-theme-success-200: rgb(var(--k-green-rgb-200));
  --k-theme-success-300: rgb(var(--k-green-rgb-300));
  --k-theme-success-400: rgb(var(--k-green-rgb-400));
  --k-theme-success-500: rgb(var(--k-green-rgb-500));
  --k-theme-success-600: rgb(var(--k-green-rgb-600));
  --k-theme-success-700: rgb(var(--k-green-rgb-700));
  --k-theme-success-800: rgb(var(--k-green-rgb-800));
  --k-theme-success-900: rgb(var(--k-green-rgb-900));
  --k-theme-success-950: rgb(var(--k-green-rgb-950));
  --k-theme-success--hover: rgb(var(--k-green-rgb-400));
  --k-theme-success--active: rgb(var(--k-green-rgb-600));
  --k-theme-success--focus: rgb(var(--k-green-rgb-100));
  --k-theme-success-rgb: var(--k-green-rgb-500);

  /* warning-rgb */
  --k-theme-warning: rgb(var(--k-orange-rgb-500));
  --k-theme-warning-50: rgb(var(--k-orange-rgb-50));
  --k-theme-warning-100: rgb(var(--k-orange-rgb-100));
  --k-theme-warning-200: rgb(var(--k-orange-rgb-200));
  --k-theme-warning-300: rgb(var(--k-orange-rgb-300));
  --k-theme-warning-400: rgb(var(--k-orange-rgb-400));
  --k-theme-warning-500: rgb(var(--k-orange-rgb-500));
  --k-theme-warning-600: rgb(var(--k-orange-rgb-600));
  --k-theme-warning-700: rgb(var(--k-orange-rgb-700));
  --k-theme-warning-800: rgb(var(--k-orange-rgb-800));
  --k-theme-warning-900: rgb(var(--k-orange-rgb-900));
  --k-theme-warning-950: rgb(var(--k-orange-rgb-950));
  --k-theme-warning--hover: rgb(var(--k-orange-rgb-400));
  --k-theme-warning--active: rgb(var(--k-orange-rgb-600));
  --k-theme-warning--focus: rgb(var(--k-orange-rgb-100));
  --k-theme-warning-rgb: var(--k-orange-rgb-500);

  /* danger-rgb */
  --k-theme-danger: rgb(var(--k-red-rgb-500));
  --k-theme-danger-50: rgb(var(--k-red-rgb-50));
  --k-theme-danger-100: rgb(var(--k-red-rgb-100));
  --k-theme-danger-200: rgb(var(--k-red-rgb-200));
  --k-theme-danger-300: rgb(var(--k-red-rgb-300));
  --k-theme-danger-400: rgb(var(--k-red-rgb-400));
  --k-theme-danger-500: rgb(var(--k-red-rgb-500));
  --k-theme-danger-600: rgb(var(--k-red-rgb-600));
  --k-theme-danger-700: rgb(var(--k-red-rgb-700));
  --k-theme-danger-800: rgb(var(--k-red-rgb-800));
  --k-theme-danger-900: rgb(var(--k-red-rgb-900));
  --k-theme-danger-950: rgb(var(--k-red-rgb-950));
  --k-theme-danger--hover: rgb(var(--k-red-rgb-400));
  --k-theme-danger--active: rgb(var(--k-red-rgb-600));
  --k-theme-danger--focus: rgb(var(--k-red-rgb-100));
  --k-theme-danger-rgb: var(--k-red-rgb-500);

  /* captured-rgb */
  --k-theme-captured: rgb(var(--k-amber-rgb-500));
  --k-theme-captured-50: rgb(var(--k-amber-rgb-50));
  --k-theme-captured-100: rgb(var(--k-amber-rgb-100));
  --k-theme-captured-200: rgb(var(--k-amber-rgb-200));
  --k-theme-captured-300: rgb(var(--k-amber-rgb-300));
  --k-theme-captured-400: rgb(var(--k-amber-rgb-400));
  --k-theme-captured-500: rgb(var(--k-amber-rgb-500));
  --k-theme-captured-600: rgb(var(--k-amber-rgb-600));
  --k-theme-captured-700: rgb(var(--k-amber-rgb-700));
  --k-theme-captured-800: rgb(var(--k-amber-rgb-800));
  --k-theme-captured-900: rgb(var(--k-amber-rgb-900));
  --k-theme-captured-950: rgb(var(--k-amber-rgb-950));
  --k-theme-captured--hover: rgb(var(--k-amber-rgb-400));
  --k-theme-captured--active: rgb(var(--k-amber-rgb-600));
  --k-theme-captured--focus: rgb(var(--k-amber-rgb-100));
  --k-theme-captured-rgb: var(--k-amber-rgb-500);

  /* theme */
  --k-theme: var(--k-theme-primary);
  --k-theme--bg: #e5f1f9;
  --k-theme--frontColor: #fff;
  --k-theme--backColor: var(--k-gray-900);
  /* theme-rgb */
  --k-theme: rgb(var(--k-theme-primary-rgb));
  --k-theme--bg: rgb(229, 241, 249);
  --k-theme--frontColor: rgb(255, 255, 255);
  --k-theme--backColor: rgb(var(--k-gray-rgb-900));
  /* 文字色 theme text color */
  --k-theme-text--heavy: var(--k-gray-900);
  --k-theme-text--normal: var(--k-gray-700);
  --k-theme-text--light: var(--k-theme-info);
  /* 描边色 theme border color */
  --k-theme-border--heavy: var(--k-gray-300);
  --k-theme-border--normal: var(--k-gray-200);
  --k-theme-border--light: var(--k-gray-100);
  /* status */
  --k-status-primary: var(--k-theme-primary);
  --k-status-info: var(--k-theme-info);
  --k-status-success: var(--k-theme-success);
  --k-status-warning: var(--k-theme-warning);
  --k-status-danger: var(--k-theme-danger);
  --k-status-captured: var(--k-theme-captured);

  /* 组件焦点状态 */
  --k-theme-focue-size: 0 0 0 0.125rem;
  --k-theme-focue-style: 0 0 0 0.125rem rgba(var(--k-theme-primary-rgb), 0.2);

  /* 动画 */
  --k-theme-transition-normal: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  /* ---------------------------------------------------------------------------------------- */
  /* 
   *组件变量 component variable 
   */
  /* button */
  --k-theme-button-size-height--sm: var(--k-size-6);
  --k-theme-button-size-height--base: var(--k-size-8);
  --k-theme-button-size-height--lg: var(--k-size-10);
  --k-theme-button-size-padding--sm: 0.1875rem var(--k-size-2);
  --k-theme-button-size-padding--base: 0.1875rem var(--k-size-3);
  --k-theme-button-size-padding--lg: 0.465625rem var(--k-size-4);
  --k-theme-button-size-gap--sm: var(--k-size-1);
  --k-theme-button-size-gap--base: var(--k-size-1);
  --k-theme-button-size-gap--lg: var(--k-size-1);
  --k-theme-button-size-rounded--sm: 0.125rem;
  --k-theme-button-size-rounded--base: 0.125rem;
  --k-theme-button-size-rounded--lg: 0.25rem;

  /* radio */
  --k-theme-radio-size-height--sm: var(--k-theme-button-size-height--sm);
  --k-theme-radio-size-height--base: var(--k-theme-button-size-height--base);
  --k-theme-radio-size-height--lg: var(--k-theme-button-size-height--lg);
  --k-theme-radio-size-gap--sm: var(--k-size-1);
  --k-theme-radio-size-gap--base: var(--k-size-1);
  --k-theme-radio-size-gap--lg: var(--k-size-1);
  --k-theme-radio__inner-size--sm: var(--k-size-3);
  --k-theme-radio__inner-size--base: var(--k-size-3);
  --k-theme-radio__inner-size--lg: var(--k-size-4);
  --k-theme-radio__ball-size--sm: calc(var(--k-theme-radio__inner-size--sm) * 0.635);
  --k-theme-radio__ball-size--base: calc(var(--k-theme-radio__inner-size--base) * 0.635);
  --k-theme-radio__ball-size--lg: calc(var(--k-theme-radio__inner-size--lg) * 0.635);
  --k-theme-radio__button-size-padding--sm: var(--k-theme-button-size-padding--sm);
  --k-theme-radio__button-size-padding--base: var(--k-theme-button-size-padding--base);
  --k-theme-radio__button-size-padding--lg: var(--k-theme-button-size-padding--lg);
  --k-theme-radio__button-rounded--sm: var(--k-theme-button-size-rounded--sm);
  --k-theme-radio__button-rounded--base: var(--k-theme-button-size-rounded--base);
  --k-theme-radio__button-rounded--lg: var(--k-theme-button-size-rounded--lg);
  --k-theme-radio__label-color: var(--k-theme-info);

  /* checkbox */
  --k-theme-checkbox-size-height--sm: var(--k-theme-button-size-height--sm);
  --k-theme-checkbox-size-height--base: var(--k-theme-button-size-height--base);
  --k-theme-checkbox-size-height--lg: var(--k-theme-button-size-height--lg);
  --k-theme-checkbox-size-gap--sm: var(--k-size-1);
  --k-theme-checkbox-size-gap--base: var(--k-size-1);
  --k-theme-checkbox-size-gap--lg: var(--k-size-1);
  --k-theme-checkbox__inner-size--sm: var(--k-size-3);
  --k-theme-checkbox__inner-size--base: var(--k-size-3);
  --k-theme-checkbox__inner-size--lg: var(--k-size-4);
  --k-theme-checkbox__inner-rounded--sm: 0.125rem;
  --k-theme-checkbox__inner-rounded--base: 0.125rem;
  --k-theme-checkbox__inner-rounded--lg: 0.25rem;
  --k-theme-checkbox__label-color: var(--k-theme-info);

  /* input */
  --k-theme-input-size-height--sm: var(--k-theme-button-size-height--sm);
  --k-theme-input-size-height--base: var(--k-theme-button-size-height--base);
  --k-theme-input-size-height--lg: var(--k-theme-button-size-height--lg);
  --k-theme-input-size-padding--sm: var(--k-theme-button-size-padding--sm);
  --k-theme-input-size-padding--base: var(--k-theme-button-size-padding--base);
  --k-theme-input-size-padding--lg: var(--k-theme-button-size-padding--lg);
  --k-theme-input-rounded--sm: var(--k-theme-button-size-rounded--sm);
  --k-theme-input-rounded--base: var(--k-theme-button-size-rounded--base);
  --k-theme-input-rounded--lg: var(--k-theme-button-size-rounded--lg);
  --k-theme-input-border-color--normal: var(--k-theme-border--normal);
  --k-theme-input-border-color--hover: var(--k-theme-primary-400);
  --k-theme-input-border-color--active: var(--k-theme-primary-500);
  --k-theme-input-placeholder-color: var(--k-gray-400);
  --k-theme-input-bg-color--disabled: var(--k-gray-50);

  /* collapse */
  --k-theme-collapse-size-height: var(--k-theme-button-size-height--base);
  --k-theme-collapse-bg-color--normal: var(--k-gray-100);
  --k-theme-collapse-rounded: var(--k-rounded-base);

  /* select */
  --k-theme-select-size-height--sm: var(--k-theme-button-size-height--sm);
  --k-theme-select-size-height--base: var(--k-theme-button-size-height--base);
  --k-theme-select-size-height--lg: var(--k-theme-button-size-height--lg);
  --k-theme-select-size-padding--sm: var(--k-theme-button-size-padding--sm);
  --k-theme-select-size-padding--base: var(--k-theme-button-size-padding--base);
  --k-theme-select-size-padding--lg: var(--k-theme-button-size-padding--lg);
  --k-theme-select-rounded--sm: var(--k-theme-button-size-rounded--sm);
  --k-theme-select-rounded--base: var(--k-theme-button-size-rounded--base);
  --k-theme-select-rounded--lg: var(--k-theme-button-size-rounded--lg);
  --k-theme-select-border-color--normal: var(--k-theme-border--normal);
  --k-theme-select-border-color--hover: var(--k-theme-input-border-color--hover);
  --k-theme-select-border-color--active: var(--k-theme-input-border-color--active);
  --k-theme-select-placeholder-color: var(--k-theme-input-placeholder-color);

  /* el-form */
  --k-theme-form-item__label-color: var(--k-theme-info);
}
