.k-pagination {
  .el-pager li,
  .btn-prev,
  .btn-next {
    border: 1px #EAE8EB solid !important;
    color: #000;
    background-color: transparent !important;
  }
  .el-pager {
    li.is-active {
      border: 1px #2882ff solid !important;
      color: #2882ff !important;
      background-color: transparent !important;
    }
  }
}