:root {
  --height: 30px;
  --default-bgColor: #EAE8EB
}
.k-step__capsule {
  display: flex;
  width: 100%;
  height: var(--height);
  line-height: var(--height);
}
.k-step__capsule-box {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80px;
  margin-right: 2px;
  padding: 0px 10px 0 20px;
  line-height: var(--height);
  color: #FFF;
  background-color: var(--default-bgColor);
  text-align: center;
}
.k-step__capsule-box::after {
  content: '';
  display: block;
  position: absolute;
  right: calc(-1 * var(--height) / 2);
  top: 0;
  border-top: calc(var(--height) / 2) solid transparent;
  border-bottom: calc(var(--height) / 2) solid transparent;
  border-left: calc(var(--height) / 2) solid var(--default-bgColor);
  z-index: 10;
}
.k-step__capsule-box::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-top: calc(var(--height) / 2) solid var(--default-bgColor);
  border-bottom: calc(var(--height) / 2) solid var(--default-bgColor);
  border-left: calc(var(--height) / 2) solid #FFF;
}
.k-step__capsule-box:first-child {
  border-radius: 16px 0 0 16px;
}
.k-step__capsule-box:last-child {
  border-radius: 0 16px 16px 0;
}
.k-step__capsule-box:first-child::before,
.k-step__capsule-box:last-child::after {
  display: none;
}
.k-step__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.k-step__title svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}