.k-checkbox {
  display: inline;
  margin-right: 30px;
}
.el-checkbox.is-disabled {
  border: none !important;
}
.k-checkbox .el-checkbox.is-checked .el-checkbox__inner {
  border-color: #CDCACF;
  background-color: transparent;
}
.k-checkbox .el-checkbox.is-checked .el-checkbox__label {
  color: #000;
}
.el-checkbox.is-disabled .el-checkbox__input {
  border: none !important;
}