.k-checkbox {
  display: inline;
  margin-right: 30px;
  .el-checkbox.is-checked {
    .el-checkbox__inner {
      border-color: #CDCACF;
      background-color: transparent;
    }
  }
  .el-checkbox.is-checked {
    .el-checkbox__label {
      color: #000;
    }
  }
}