:root {
  --checkbox-bgColor: transparent;
}

.el-checkbox.is-checked .el-checkbox__inner {
  background-color: var(--checkbox-bgColor);
  border-color: var(--checkbox-bgColor);
}
.el-checkbox.is-checked .el-checkbox__label {
  color: var(--checkbox-bgColor);
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--checkbox-bgColor);
  border-color: var(--checkbox-bgColor);
}