.hidden-line {
  .el-timeline-item__tail {
    display: none;
  }
}
.show-right {
  .el-timeline-item__wrapper {
    display: flex;
    .el-timeline-item__content {
      margin-left: 10px;
    }
  }
}