@import '../../style/variable.less';

.k-table-column__header {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  .k-table-column__title {
    width: 100%;
    margin-right: 5px;
  }
  .k-table-column__operate {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    .k-table-column__tooltip, .k-table-column__more {
      cursor: pointer;
      &:hover {
        color: @k-status-primary
      }
    }
    .k-table-column__sort {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      #_desc-icon {
        margin-top: -5px;
      }
    }
    .k-table-column__filter {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .more-menu-item {
      width: 100%;
    }
  }
}
.k-table {
  .vxe-cell--sort,
  .vxe-cell--filter,
  .vxe-table--filter-wrapper,
  .vxe-cell--edit-icon,
  .vxe-table--tooltip-wrapper {
    display: none !important;
  }
  .vxe-cell--checkbox.is--disabled {
    .vxe-checkbox--icon {
      background-image: linear-gradient(@k-gray-100, @k-gray-100);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80% 80%;
    }
  }
  &.drag_table {
    .vxe-table--header {
        th:first-child {
            > .is--line, .vxe-resizable {
                display: none;
            }
        }
    }
  }
  .vxe-loading {
    display: none;
  }
}
.expand-icon {
  &:hover {
    color: @k-status-primary;
  }
}
.k-column__header-dialog {
  .header-dialog__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    .k-button:nth-child(1) {
      margin-right: 10px;
    }
  }
}
.disabled {
  color: @k-gray-200;
  cursor: no-drop !important;
}