@import '../../style/variable.css';

@message-text-color: #000;
@message-bg-color: #fff;
@message-border-color: #fff;

.el-message {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
}
// success
.el-message--success {
  border: 1px @message-border-color solid;
  background-color: @message-bg-color;
  .el-message__icon {
    color: var(--k-theme-success);
  }
  .el-message__content {
    color: @message-text-color;
  }
}
// error
.el-message--error {
  border: 1px @message-border-color solid;
  background-color: @message-bg-color;
  .el-message__icon {
    color: var(--k-theme-danger);
  }
  .el-message__content {
    color: @message-text-color;
  }
}
// warning
.el-message--warning {
  border: 1px @message-border-color solid;
  background-color: @message-bg-color;
  .el-message__icon {
    color: var(--k-theme-warning);
  }
  .el-message__content {
    color: @message-text-color;
  }
}
// info
.el-message--info {
  border: 1px @message-border-color solid;
  background-color: @message-bg-color;
  .el-message__icon {
    color: var(--k-theme-primary);
  }
  .el-message__content {
    color: @message-text-color;
  }
}
