@import '../../style/variable.less';

* {
  min-width: 0;
}

.k-tree-table {
  .k-tree-table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    .k-table-info {
      .k-table-header-text {
        display: flex;
        font-size: 13px;
        color: #736F78;
        .condition-info {
          max-width: 30vw;
          margin-left: 4px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .filter-reset {
          margin-left: 10px;
          color: @k-status-primary;
          cursor: pointer;
        }
      }
    }
    .k-table-func {
      display: flex;
      .k-input {
        width: 200px;
        .el-input__wrapper {
          border-radius: 8px;
        }
      }
      .k-button {
        margin-left: 8px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
  .table-box, .pagination-box {
    margin-top: 10px;
  }
}