@import '../../style/variable.less';

.k-tree-table {
  .search-input {
    display: flex;
    justify-content: flex-end;
    .k-input {
      width: 200px;
    }
  }
  .table-box, .pagination-box {
    margin-top: 10px;
  }
}