:root {
  --plain: #2882FF;
  --normal-text: hsl(264, 4%, 46%);
  --normal-bg: #EAE8EB;
  --normal-border: #CDCACF;
  --white-color: #FFF;
  --primary-color: #69B4FF;
  --active-color: #0037DB;
  --disabled-color: #AFABB3;
  --loading-color: #A8DBFF;
}

.k-button {
  border-radius: 8px;
}
.is-plain {
  border: 1px var(--plain) solid;
  color: var(--plain);
  background-color: var(--white-color);
}

/* hover */
.k-button:hover {
  border: var(--normal-border) solid !important;
  color: var(--normal-text) !important;
  background-color: var(--normal-bg) !important;
}
.k-button:is(.el-button--primary):hover {
  border: var(--primary-color) 1px solid !important;
  color: var(--white-color) !important;
  background-color: var(--primary-color) !important;
}
.k-button:is(.is-plain):hover {
  border: var(--primary-color) 1px solid !important;
  color: var(--primary-color) !important;
  background-color: var(--white-color) !important;
}
.k-button:is(.is-text):hover {
  border: none !important;
  color: var(--primary-color) !important;
  background-color: var(--white-color) !important;
}

/* active */
.k-button:active {
  border: var(--normal-border) solid !important;
  color: var(--normal-text) !important;
  background-color: var(--normal-border) !important;
}
.k-button:is(.el-button--primary):active {
  color: var(--white-color) !important;
  background-color: var(--active-color) !important;
}
.k-button:is(.is-plain):active {
  border: 1px var(--active-color) solid !important;
  color: var(--active-color) !important;
  background-color: var(--white-color) !important;
}
.k-button:is(.is-text):active {
  border: none !important;
  color: var(--active-color) !important;
  background-color: transparent !important;
}

/* disabled */
.k-button:disabled,
.is-disabled {
  border: 1px var(--disabled-color) solid !important;
  color: var(--disabled-color) !important;
  background-color: var(--normal-bg) !important;
}
.k-button:disabled:is(.el-button--primary),
.is-disabled:is(.el-button--primary) {
  border: 1px var(--normal-text) solid !important;
  color: var(--white-color) !important;
  background-color: var(--normal-text) !important;
}
.k-button:disabled:is(.is-plain),
.is-disabled:is(.is-plain) {
  border: 1px var(--disabled-color) solid !important;
  color: var(--disabled-color) !important;
  background-color: var(--normal-bg) !important;
}
.k-button:disabled:is(.is-text),
.is-disabled:is(.is-text) {
  border: none !important;
  color: var(--loading-color) !important;
  background-color: transparent !important;
}

/* loading */
.button-loading {
  pointer-events: none;
}
.k-button:disabled.is-loading,
.is-disabled.is-loading {
  border: 1px var(--normal-border) solid !important;
  color: var(--disabled-color) !important;
  background-color: var(--white-color) !important;
}
.k-button:disabled.el-button--primary.is-loading,
.is-disabled.el-button--primary.is-loading {
  border: 1px var(--loading-color) solid !important;
  color: var(--white-color) !important;
  background-color: var(--loading-color) !important;
}
.k-button:disabled.is-plain.is-loading,
.is-disabled.is-plain.is-loading {
  border: 1px var(--loading-color) solid !important;
  color: var(--loading-color) !important;
  background-color: transparent !important;
}
.k-button:disabled.is-text.is-loading,
.is-disabled.is-text.is-loading {
  border: none !important;
  color: var(--loading-color) !important;
  background-color: transparent !important;
}
.k-button span {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.k-button svg {
  width: 15px;
}
.icon-left {
  margin-right: 5px;
}
.icon-right {
  margin-left: 5px;
}