:root {
  /* #646cff */
  --vp-c-brand-1: hsl(237, 100%, 70%);
  --vp-c-brand-2: hsl(237, 100%, 73%);
  --vp-c-brand-3: hsl(237, 100%, 70%);

  --vp-code-block-bg: #f9fafb;
  --vp-c-divider: rgba(0, 0, 0, 0.1);

  --glassmorphism-bg: rgba(255, 255, 255, 0.8);
  --glassmorphism-filter: saturate(180%) blur(20px);
  --glassmorphism-search-button-bg: rgba(0, 0, 0, 0.04);
}

.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt, #161618);
  --glassmorphism-bg: rgba(14, 2, 36, 0.8);
  --glassmorphism-search-button-bg: rgba(0, 0, 0, 0.3);
}

.demo-block .xl-button {
  margin: 0 10px 10px 0;
}

/* vp-doc style */
.vp-doc table {
  display: table !important;
  width: 100%;
}

// .vp-doc tr:nth-child(2n) {
//   background-color: transparent !important;
// }

.vp-doc th {
  color: unset !important;
}

.k-tooltip-icon.el-tooltip__trigger > span.ksw-icon {
  margin-left: 10px;
  vertical-align: middle;
}
.el-popper.is-light {
  color: #0c61c9 !important;
}

.VPNolebaseEnhancedReadabilitiesSpotlightHoverBlock {
  border: none;
}

div.VPLocalNav.has-sidebar > div > div > div > div.outline {
  outline-style: none;
}

// 重写样式 VPNav
header.VPNav {
  .VPNavBar {
    &.home {
      // 背景毛玻璃
      background: var(--glassmorphism-bg);
      backdrop-filter: var(--glassmorphism-filter);
      .wrapper {
        padding: 0;
        width: 1280px;
        margin: auto;
      }
    }
    &.top {
      background-color: transparent;
      .dark  & {
        backdrop-filter: none;
      }
    }
    &.has-sidebar {
      .wrapper {
        .container {
          .title {
            transition: none;
          }
          .content {
            transition: none;
          }
        }
      }
    }
    .wrapper {
      .container {
        .title {
          transition: none;
        }
        .content {
          transition: none;
        }
      }
    }
  }
}

.VPContent.is-home {
  padding-top: 0;
}

.VPFooter{
  background: var(--glassmorphism-bg) !important;
  backdrop-filter: saturate(180%) blur(10px);
}

@media (min-width: 960px) {
  header.VPNav{
    .VPNavBar:not(.has-sidebar):not(.top.home) {
      background-color: var(--vp-nav-bg-color);
      &.home {
        background-color: var(--glassmorphism-bg);
      }
    }
  }
  
}

@media (min-width: 768px) {
  .VPNavBarSearch {
    flex-grow: unset;
    padding-right: 24px;
  }
  .DocSearch-Button {
    background: var(--glassmorphism-search-button-bg);
    // border: 1px solid var(--vp-c-divider);
  }
}
