.el-tabs__item {
  border: none !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
} 
.el-tabs--card .el-tabs__item {
  border-right: 1px #e4e7ed solid !important;
}
.el-tabs__item a {
  color: #000;
  text-decoration: none;
}

.el-tabs__item a:hover,
.el-tabs__item a:active,
.is-active a {
  color: #4091FF;
  text-decoration: none;
}

.k-tab-item .is-disabled {
  background-color: transparent !important;
}

.is-disabled a,
.is-disabled a:hover,
.is-disabled a:active {
  color: #9f9da2;
  cursor: not-allowed;
  pointer-events: none;
}
.el-tabs__item svg {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  vertical-align: middle;
}