@import '../../style/variable.css';
@import '../../style/general.less';

// 类选择器方案
.k-tabs {
  --icon-size: 1rem;
  --icon-skew: 0.625rem;
  --icon-Space: 2rem;
  --more-width: 2rem;
  --left-layout-width: 2rem;
  --plane-max-width: 4rem;
}
.k-tabs {
  --icon-size: 1rem;
  --icon-skew: 0.625rem;
  --icon-Space: 2rem;
  
  position: relative;
  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    display: none;
  }
  .el-tabs__item {
    padding: 0;
    .k-tab__label {
      .text-base();
      display: flex;
      justify-content: center;
      padding: 0 1rem;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .k-tab__label {
      width: var(--plane-max-width);
      span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .k-tab__label.has--icon {
      padding-left: var(--icon-Space);

      position: relative;

      > svg {
        position: absolute;
        top: 50%;
        left: var(--icon-skew);
        transform: translate(0, -50%);
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }
    &:hover:not(.is-disabled) {
      color: var(--k-blue-400);
    }
  }

  .el-tabs__item.is-closable {
    position: relative;

    .k-tab__label {
      display: flex;
      padding-right: var(--icon-Space);
    }

    .el-icon.is-icon-close {
      width: var(--icon-size);
      height: var(--icon-size);
      position: absolute;
      top: 50%;
      right: var(--icon-skew);
      transform: translate(0, -50%);

      &:hover {
        background: unset;
        color: unset;
        border-radius: unset;

        background: var(--k-blue-100);
        border-radius: var(--k-rounded-full);
      }
    }
  }
  .el-tabs__nav-wrap {
    padding-right: var(--more-width);
  }
  &.el-tabs--left {
    .el-tabs__nav-wrap.is-scrollable.is-left {
      padding-top: 2.5rem;
    }
  }
  .el-tabs__content {
    position: unset;
  }
}
.k-tabs-more {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: var(--more-width);
  height: 2.5rem;
  background-color: #fff;
  z-index: 2;
  cursor: pointer;

  border-bottom: 2px solid #e4e7ed;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--more-width) / 2 * -1);
    width: calc(var(--more-width) / 2);
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    pointer-events: none;
  }
  &.tab-left-layout {
    top: 0;
    left: 0;
    width: calc(var(--plane-max-width) + 2rem);

    border-bottom: unset;

    border-right: 2px solid #e4e7ed;

    &::after {
      background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));

      left: 0;
      height: calc(var(--more-width) / 2);
      width: calc(var(--plane-max-width) + 2rem);
      top: 2.5rem;
    }
  }
}
.tab-top-layout {
  top: 0;
  right: var(--more-width);
}
.tab-bottom-layout {
  bottom: 0;
  right: var(--more-width);
}
