:root {
  --checkbox-bgColor: transparent;
}

.k-checkbox.is-checked .el-checkbox__inner {
  background-color: var(--checkbox-bgColor);
  border-color: var(--checkbox-bgColor);
}
.k-checkbox.is-checked .el-checkbox__label {
  color: var(--checkbox-bgColor);
}
.k-checkbox .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--checkbox-bgColor);
  border-color: var(--checkbox-bgColor);
}