@import '../../style/variable.css';
@import '../../style/general.less';

.el-button.k-button {
  // 初始化所有样式
  .init-style();

  --k-button-color: var(--k-blue-500);
  --k-button-hover-color: var(--k-blue-400);
  --k-button-active-color: var(--k-blue-600);
  --k-button-icon-color: var(--k-gray-400);
  --k-button-loading-color: var(--k-blue-300);
  width: fit-content;
  box-sizing: border-box;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid var(--k-gray-200);
  padding: 0 1rem;
  height: 2rem;
  gap: 0.25rem;
  border-radius: var(--k-rounded-base);
  color: var(--k-gray-400);
  .text-base();
  cursor: pointer;
  background-color: #fff;

  label {
    pointer-events: none;
    cursor: pointer;
    user-select: none;
  }

  span {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
  }

  &.el-button--sm {
    .text-sm();
    padding: 0 0.75rem;
    height: 1.5rem;
    gap: 0.125rem;
    border-radius: var(--k-rounded-sm);

    > span {
      display: inline-flex;
      align-items: center;
      gap: 0.125rem;
    }
  }

  &:hover {
    background: var(--k-gray-50);
  }

  &:active {
    background: var(--k-gray-100);
  }

  &.is-disabled {
    background: var(--k-gray-100);
    color: var(--k-gray-300);
    cursor: not-allowed;

    // pointer-events: none;

    label {
      cursor: not-allowed;
    }
  }

  &.is-loading,
  &.is-loading:hover,
  &.is-loading:active {
    color: var(--k-gray-300);
    pointer-events: auto !important;
    background: #fff;
    border-color: var(--k-gray-200);
    cursor: wait;

    label {
      cursor: wait;
    }

    .el-icon.is-loading {
      display: none;
    }

    .loading-icon {
      color: var(--k-button-color);
    }
  }

  // 内置颜色
  &.el-button--primary {
    --k-button-color: var(--k-blue-500);
    --k-button-hover-color: var(--k-blue-400);
    --k-button-active-color: var(--k-blue-600);
    --k-button-loading-color: var(--k-blue-300);
    --k-button-icon-color: var(--k-blue-500);
  }
  &.el-button--success {
    --k-button-color: var(--k-green-500);
    --k-button-hover-color: var(--k-green-400);
    --k-button-active-color: var(--k-green-600);
    --k-button-loading-color: var(--k-green-300);
    --k-button-icon-color: var(--k-green-500);
  }
  &.el-button--info {
    --k-button-color: var(--k-status-info);
    --k-button-hover-color: var(--k-gray-300);
    --k-button-active-color: var(--k-gray-400);
    --k-button-loading-color: var(--k-gray-100);
    --k-button-icon-color: var(--k-gray-300);
  }
  &.el-button--warning {
    --k-button-color: var(--k-orange-500);
    --k-button-hover-color: var(--k-orange-400);
    --k-button-active-color: var(--k-orange-600);
    --k-button-loading-color: var(--k-orange-300);
    --k-button-icon-color: var(--k-orange-500);
  }
  &.el-button--danger {
    --k-button-color: var(--k-red-500);
    --k-button-hover-color: var(--k-red-400);
    --k-button-active-color: var(--k-red-600);
    --k-button-loading-color: var(--k-red-300);
    --k-button-icon-color: var(--k-red-500);
  }

  // main style
  &.el-button--main {
    background: var(--k-button-color);
    color: #fff;
    border-color: var(--k-button-color);
  }

  &.el-button--main:hover {
    color: #fff;
    background: var(--k-button-hover-color);
    border-color: var(--k-button-hover-color);
  }

  &.el-button--main:active {
    background: var(--k-button-active-color);
    border-color: var(--k-button-active-color);
  }

  &.el-button--main.is-disabled,
  &.el-button--main.is-disabled:hover {
    background: var(--k-gray-300);
    border-color: var(--k-gray-300);
    color: #fff;
  }

  &.el-button--main.is-loading,
  &.el-button--main.is-loading:hover {
    background: var(--k-button-loading-color);
    border-color: var(--k-button-loading-color);
    color: #fff;
  }

  // secondary style
  &.el-button--secondary {
    background: #fff;
    color: var(--k-button-color);
    border: 1px solid var(--k-button-color);
  }

  &.el-button--secondary:hover {
    color: var(--k-button-hover-color);
    border: 1px solid var(--k-button-hover-color);
    background: #fff;
  }

  &.el-button--secondary:active {
    color: var(--k-button-active-color);
    border: 1px solid var(--k-button-active-color);
  }

  &.el-button--secondary.is-disabled,
  &.el-button--secondary.is-disabled:hover {
    background: var(--k-gray-100);
    color: var(--k-gray-300);
    border: 1px solid var(--k-gray-300);
  }

  &.el-button--secondary.is-loading,
  &.el-button--secondary.is-loading:hover {
    background: #fff;
    color: var(--k-button-loading-color);
    border: 1px solid var(--k-button-loading-color);

    .loading-icon {
      color: var(--k-button-color);
    }
  }

  // text style
  &.el-button--text {
    background: transparent;
    color: var(--k-button-color);
    padding: 0 0.5rem;
    border-width: 0;
  }

  &.el-button--text:hover {
    background-color: unset;
    color: var(--k-button-hover-color);

    span {
      color: var(--k-button-hover-color);
    }
  }

  &.el-button--text:active {
    color: var(--k-button-active-color);

    span {
      color: var(--k-button-active-color);
    }
  }

  &.el-button--text.is-disabled,
  &.el-button--text.is-disabled:hover {
    background: #fff;
    color: var(--k-gray-300);

    span {
      color: var(--k-gray-300);
    }
  }

  &.el-button--text.is-loading,
  &.el-button--text.is-loading:hover,
  &.el-button--text.is-loading:active {
    background: #fff;
    color: var(--k-button-loading-color);

    label,
    span {
      color: var(--k-button-loading-color);
    }

    .loading-icon {
      color: var(--k-button-color);
    }
  }

  // icon style
  &.el-button--icon {
    width: 2rem;
    padding: 0;
    color: var(--k-gray-300);
    background: #fff;
    border-color: var(--k-gray-200);
    justify-content: center;
  }
  &.el-button--icon.el-button--sm {
    height: 1.5rem;
    width: 1.5rem;
  }
  &.el-button--icon:hover {
    background: #fff;
    color: var(--k-gray-300);
    border-color: var(--k-gray-200);
    background: var(--k-gray-50);
  }
  &.el-button--icon:active {
    background: #fff;
    color: var(--k-gray-300);
    border-color: var(--k-gray-200);
    background: var(--k-gray-100);
  }
  &.el-button--icon.is-disabled,
  &.el-button--icon.is-disabled:hover,
  &.el-button--icon.is-disabled:active {
    background: #fff;
    color: var(--k-gray-300);
    border-color: var(--k-gray-300);
  }
  &.el-button--icon.is-disabled {
    cursor: not-allowed;
  }
  &.el-button--icon.is-loading {
    background: #fff;
    color: var(--k-button-color);
    border-color: var(--k-gray-100);
    span {
      label {
        display: none;
      }
      margin-left: 0;
    }
  }
}
