@import '../../style/variable.css';
@import '../../style/general.less';

.k-script-input-wrapper {
  width: 100%;
  border: 1px solid var(--k-gray-200);
  border-radius: var(--k-theme-button-size-rounded--base);
  display: flex;
  gap: 0.25rem;
  overflow: hidden;
  box-sizing: border-box;
  .k-script-input-prepend,
  .k-script-input-append {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    .k-button {
      border-radius: unset;
      border: unset;
      height: 100%;
      color: var(--k-theme-text--normal);
      &:hover {
        color: var(--k-theme-primary);
      }
      &.is-disabled:hover {
        color: var(--k-gray-600);
      }
      & + .k-button {
        margin: 0;
      }
    }
  }
  .k-script-input-prepend:has(.k-button) {
    .k-button {
      border-right: 1px solid var(--k-gray-200);
    }
  }
  .k-script-input-append:has(.k-button) {
    .k-button {
      border-left: 1px solid var(--k-gray-200);
    }
  }

  &:has(.k-script-input:focus-visible) {
    border: 1px solid var(--k-theme-primary);
    box-shadow: var(--k-theme-focue-style);
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    border: 1px solid var(--k-theme-primary);
  }

  .k-script-input {
    width: 100%;
    padding: 0.25rem 0.5rem;
    line-height: 1.5rem;
    overflow: auto;
    resize: vertical;
    min-height: 2rem;

    // var_tag
    .k-script-tag {
      display: inline-block;
      width: fit-content;
      height: 1.375rem;
      line-height: 1.375rem;
      padding: 0 8px;
      border-radius: 0.25rem;
      color: var(--k-theme-text--normal);
      background-color: var(--k-gray-200);
      font-size: 14px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      margin: 0.0625rem 0;
      & + .k-script-tag {
        margin-left: 0.125rem;
      }
      &.is-error {
        background: var(--k-red-500);
        color: #fff;
      }
    }

    &:focus-visible {
      outline: unset;
    }
  }
}

.k-script-input-popper {
  li {
    margin-bottom: 10px;

    &.selected {
      background-color: var(--k-blue-200);
    }
  }

  #k-script-input-tree {
    .k-table-func {
      width: 100%;
      .k-input {
        width: 100% !important;
      }
    }
    .k-script-input-tree-disabled {
      opacity: 0.5;
      &:hover {
        background: unset;
        .col--tree-node {
          background: unset;
        }
      }
    }
  }
}

.mytable-scrollba {
  .mytable-scrollbar {
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
  }
}

[data-vxe-ui-theme='light'] {
  .mytable-scrollbar {
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner {
      background-color: #ffffff;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #bfbfbf;
    }
    ::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb:active {
      background-color: #787878;
    }
  }
}

/** 暗黑模式 */
[data-vxe-ui-theme='dark'] {
  .mytable-scrollbar {
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner {
      background-color: #151518;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #bfbfbf;
    }
    ::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb:active {
      background-color: #a3a6ad;
    }
  }
}
