@import '../../style/variable.css';
@import '../../style/general.less';
@import '../../style/global.less';

.k-select.el-select {
  --bg-color: #fff;
  --select-height: 2rem;
  --border-radius: var(--k-rounded-base);
  --border-color--normal: var(--k-gray-200);
  --border-color--hover: var(--k-blue-400);
  --border-color--checked: var(--k-blue-500);
  --border-radius: var(--k-rounded-base);

  // 所有样式设置为unset
  .init-style();
  min-width: 64px;
  width: 100%;
  // height: 100%;

  .el-select__wrapper {
    .init-style();
    .text-base();
    min-height: unset;
    height: var(--select-height);
    padding: 0.375rem 0.75rem;
    border-radius: var(--border-radius);
    border: var(--border-color--normal) 1px solid;
    background: #fff;

    &.is-hovering:not(.is-focused, .is-disabled) {
      box-shadow: unset;
      border: var(--border-color--hover) 1px solid;
    }
    &.is-focused {
      box-shadow: unset;
      border: var(--border-color--checked) 1px solid;
      box-shadow: 0 0 0 2px rgba(40, 130, 255, 0.1);
    }

    &.is-disabled {
      background: var(--k-gray-50);
      cursor: not-allowed;
      border-color: var(--border-color--normal);
    }
    &.is-disabled.is-hovering {
      border-color: var(--border-color--normal);
    }
  }

  &.el-select--small {
    --select-height: 1.5rem;
    .el-select__wrapper {
      .text-sm();
      padding: 0.25rem 0.75rem;
    }
  }
}
