.el-popper__arrow {
  background-color: inherit !important;
  border-color: inherit;
  border-radius: 50%;
}
.el-popper__arrow::before {
  background-color: inherit !important;
  border-color: inherit !important;
}