@import '../../style/variable.css';
@import '../../style/general.less';

.k-radio {
  // 所有样式设置为unset
  .init-style();

  --radio-radius: var(--k-rounded-base);
  // 变量
  --radio-size: 1rem;
  --radio-height: 2rem;
  --radio-height-sm: 1.5rem;
  --ball-size: calc(var(--radio-size) * 0.625);
  --radio-color: var(--k-gray-300);
  --radio-color-hover: var(--k-blue-400);
  --radio-color-checked: var(--k-blue-500);
  --radio-color-disabled: var(--k-gray-300);

  .text-base();
  display: flex;
  align-items: center;
  gap: 0.375rem;

  box-sizing: border-box;

  padding: 0.375rem 0;

  cursor: pointer;

  color: var(--k-normal);

  // 隐藏原生radio
  input[type='radio'] {
    display: none;
  }
  .el-radio__input {
    display: inline-flex;
  }

  .el-radio__inner {
    display: inline-block;
    width: var(--radio-size);
    height: var(--radio-size);
    border: 1px solid var(--radio-color);
    border-radius: calc(var(--radio-size) / 2);
    position: relative;
  }
  .el-radio__inner::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: calc(var(--ball-size) * 0.5);
    background-color: var(--radio-color-checked);
  }
  .el-radio__label {
    user-select: none;
  }
  &:hover {
    .el-radio__inner {
      border-color: var(--radio-color-hover);
    }
    .el-radio__inner::after {
      background-color: var(--radio-color-hover);
    }
    .el-radio__label {
      color: var(--radio-color-hover);
    }
  }
  &:active {
    .el-radio__inner {
      border-color: var(--radio-color-checked);
    }
    .el-radio__inner::after {
      background-color: var(--radio-color-checked);
    }
    .el-radio__label {
      color: var(--radio-color-checked);
    }
  }
  &.is-checked {
    .el-radio__inner {
      background: unset;
      border-color: var(--radio-color-checked);
    }
    .el-radio__inner::after {
      background-color: var(--radio-color-checked);
      animation: radioActive 0.2s ease-in-out 0s forwards;
    }
    .el-radio__label {
      color: var(--radio-color-checked);
    }
  }
  &.is-disabled {
    cursor: not-allowed;
    .el-radio__inner {
      border-color: var(--radio-color-disabled);
    }
    .el-radio__inner::after {
      animation: unset;
    }
    .el-radio__label {
      color: var(--radio-color-disabled);
    }
  }
  &.is-disabled.is-checked {
    .el-radio__inner::after {
      animation: radioActive 0.2s ease-in-out 0s forwards;
      background-color: var(--radio-color-disabled);
    }
  }
  &.k-radio--sm {
    --radio-size: 0.75rem;
    --radio-radius: var(--k-rounded-sm);
    .text-sm();
    gap: 0.25rem;
    padding: 0.25rem 0;
    height: 1.75rem;
  }
}

@keyframes radioActive {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: calc(var(--ball-size) * 1.15);
    height: calc(var(--ball-size) * 1.15);
  }
  100% {
    width: calc(var(--ball-size) * 1);
    height: calc(var(--ball-size) * 1);
  }
}

// 单选组
.k-radio-group {
  width: fit-content;
  gap: 0;
  .k-radio + .k-radio {
    margin: 0 0 0 0.75rem;
  }
  * {
    box-sizing: border-box;
  }

  // button 风格
  .k-radio {
    &.is-button {
      gap: 0;
      border: 1px solid var(--k-gray-300);
      box-sizing: border-box !important;
      width: fit-content;
      padding: 0.375rem 1rem;

      height: var(--radio-height);
      .el-radio__inner {
        display: none;
      }
      .el-radio__inner::after {
        display: none;
      }
    }
    &.is-button:hover {
      border-color: var(--radio-color-hover);
    }
    &.is-button + .is-button {
      margin: 0;
      border-left: unset;
    }
    &.is-button:first-child {
      border-top-left-radius: var(--radio-radius);
      border-bottom-left-radius: var(--radio-radius);
    }

    &.is-button:last-child {
      border-top-right-radius: var(--radio-radius);
      border-bottom-right-radius: var(--radio-radius);
    }
    &.is-button.is-checked {
      color: #fff;
      background-color: var(--radio-color-checked);
      border-color: var(--radio-color-checked);
      .el-radio__label {
        color: #fff;
      }
    }
    &.is-button.is-disabled {
      color: #fff;
      background-color: var(--radio-color-disabled);
      border-color: var(--radio-color-disabled);
      .el-radio__label {
        color: #fff;
      }
    }
    &.k-radio--sm.is-button {
      height: var(--radio-height-sm);
      padding: 0.25rem 0.75rem;
    }
  }

  &.k-radio-group--button {
    .k-radio {
      gap: 0;
      border: 1px solid var(--k-gray-300);
      box-sizing: border-box !important;
      width: fit-content;
      padding: 0.375rem 1rem;

      height: var(--radio-height);
      .el-radio__inner {
        display: none;
      }
      .el-radio__inner::after {
        display: none;
      }

      &:hover {
        border-color: var(--radio-color-hover);
      }
      & + .k-radio {
        margin: 0;
        border-left: unset;
      }

      &:first-child {
        border-top-left-radius: var(--radio-radius);
        border-bottom-left-radius: var(--radio-radius);
      }

      &:last-child {
        border-top-right-radius: var(--radio-radius);
        border-bottom-right-radius: var(--radio-radius);
      }
      &.is-checked {
        color: #fff;
        background-color: var(--radio-color-checked);
        border-color: var(--radio-color-checked);
        .el-radio__label {
          color: #fff;
        }
      }
      &.is-disabled {
        color: #fff;
        background-color: var(--radio-color-disabled);
        border-color: var(--radio-color-disabled);
        .el-radio__label {
          color: #fff;
        }
      }
    }
  }
  &.k-radio-group--column.k-radio-group--button {
    .k-radio {
      &:first-child {
        border-top-left-radius: var(--radio-radius);
        border-top-right-radius: var(--radio-radius);
        border-bottom-left-radius: unset;
      }

      &:last-child {
        border-bottom-left-radius: var(--radio-radius);
        border-bottom-right-radius: var(--radio-radius);
        border-top-right-radius: unset;
      }
      &.k-radio {
        margin: 0;
        border-left: 1px solid var(--k-gray-300);
        border-top: unset;
      }
    }
  }

  // flex 排列
  &.k-radio-group--row {
    display: flex;
  }
  &.k-radio-group--column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    .k-radio + .k-radio {
      margin: 0;
    }
    .k-radio {
      &.is-button:first-child {
        border-top-left-radius: var(--radio-radius);
        border-top-right-radius: var(--radio-radius);
        border-bottom-left-radius: unset;
      }

      &.is-button:last-child {
        border-bottom-left-radius: var(--radio-radius);
        border-bottom-right-radius: var(--radio-radius);
        border-top-right-radius: unset;
      }
      &.is-button + .is-button {
        margin: 0;
        border-left: 1px solid var(--k-gray-300);
        border-top: unset;
      }
    }
  }
  // group sm
  &.k-radio-group--sm {
    .k-radio {
      --radio-radius: var(--k-rounded-sm);
      --radio-size: 0.75rem;
      --radio-radius: var(--k-rounded-sm);
      .text-sm();
      height: var(--radio-height-sm);
      gap: 0;
      padding: 0.25rem 0.75rem;
    }
    .k-radio:not(.is-button) {
      --radio-size: 0.75rem;
      .text-sm();
      gap: 0.25rem;
      padding: 0.25rem 0;
    }
    .k-radio.is-button {
      padding: 0.25rem 0.75rem;
    }
  }
  &.k-radio-group--sm.k-radio-group--button {
    .k-radio {
      --radio-radius: var(--k-rounded-sm);
      --radio-size: 0.75rem;
      --radio-radius: var(--k-rounded-sm);
      .text-sm();
      gap: 0;
      padding: 0.25rem 0.75rem;
      height: var(--radio-height-sm);
    }
  }
}
