@import '../../style/variable.less';
@import '../../style/variable.css';
@import '../../style/general.less';

.k-tree {
  .k-tree__filter {
    width: fit-content;
    margin-bottom: 10px;
    .k-tree__filter-append {
      color: #fff;
    }
    .el-input-group__append {
      padding: 0 10px;
      border-radius: 0 8px 8px 0;
      background-color: @k-status-primary;
      cursor: pointer;
      &:hover {
        background-color: @k-blue-400;
      }
      &:active {
        background-color: @k-blue-600;
      }
    }
  }
}
.el-tree {
  .el-tree-node__expand-icon {
    transform: unset;
    width: 0;
    padding: 0 0 0 0.5rem;
    svg {
      display: none;
    }
  }
  .ksw-icon,
  .ksw-icon.ksw-icon-FlowNested,
  .ksw-icon.IconFolderOpen {
    font-size: 1rem;
    color: var(--k-yellow-500);
    transform: unset;
  }
}
